<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>human.h.motemplate</key>
	<data>
	I2ltcG9ydCAiXzwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+LmgiCgpAaW50ZXJmYWNl
	IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+IDogXzwkbWFuYWdlZE9iamVjdENsYXNz
	TmFtZSQ+IHt9Ci8vIEN1c3RvbSBsb2dpYyBnb2VzIGhlcmUuCkBlbmQK
	</data>
	<key>human.m.motemplate</key>
	<data>
	I2ltcG9ydCAiPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4uaCIKCgpAaW50ZXJmYWNl
	IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+ICgpCgovLyBQcml2YXRlIGludGVyZmFj
	ZSBnb2VzIGhlcmUuCgpAZW5kCgoKQGltcGxlbWVudGF0aW9uIDwkbWFuYWdlZE9iamVj
	dENsYXNzTmFtZSQ+CgovLyBDdXN0b20gbG9naWMgZ29lcyBoZXJlLgoKQGVuZAo=
	</data>
	<key>human.swift.motemplate</key>
	<data>
	QG9iamMoPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4pCnB1YmxpYyBjbGFzcyA8JG1h
	bmFnZWRPYmplY3RDbGFzc05hbWUkPjogXzwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+
	IHsKCgkvLyBDdXN0b20gbG9naWMgZ29lcyBoZXJlLgoKfQo=
	</data>
	<key>machine.h.motemplate</key>
	<data>
	Ly8gRE8gTk9UIEVESVQuIFRoaXMgZmlsZSBpcyBtYWNoaW5lLWdlbmVyYXRlZCBhbmQg
	Y29uc3RhbnRseSBvdmVyd3JpdHRlbi4KLy8gTWFrZSBjaGFuZ2VzIHRvIDwkbWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+LmggaW5zdGVhZC4KCjwkaWYgVGVtcGxhdGVWYXIubW9k
	dWxlcyQ+QGltcG9ydCBDb3JlRGF0YTs8JGVsc2UkPiNpbXBvcnQgPENvcmVEYXRhL0Nv
	cmVEYXRhLmg+PCRlbmRpZiQ+CjwkaWYgaGFzQ3VzdG9tU3VwZXJlbnRpdHkkPjwkaWYg
	aGFzU3VwZXJlbnRpdHkkPiNpbXBvcnQgIjwkY3VzdG9tU3VwZXJlbnRpdHkkPi5oIgo8
	JGVsc2UkPjwkaWYgaGFzQ3VzdG9tQmFzZUNhc2VJbXBvcnQkPiNpbXBvcnQgPCRiYXNl
	Q2xhc3NJbXBvcnQkPjwkZWxzZSQ+I2ltcG9ydCAiPCRjdXN0b21TdXBlcmVudGl0eSQ+
	LmgiPCRlbmRpZiQ+PCRlbmRpZiQ+PCRlbmRpZiQ+Cgo8JGlmIGhhc0FkZGl0aW9uYWxI
	ZWFkZXJGaWxlJD4KI2ltcG9ydCAiPCRhZGRpdGlvbmFsSGVhZGVyRmlsZU5hbWUkPiIK
	PCRlbmRpZiQ+Cgo8JGlmIG5vbmluaGVyaXRlZEF0dHJpYnV0ZXMuQGNvdW50ID4gMCQ+
	CmV4dGVybiBjb25zdCBzdHJ1Y3QgPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5BdHRy
	aWJ1dGVzIHs8JGZvcmVhY2ggQXR0cmlidXRlIG5vbmluaGVyaXRlZEF0dHJpYnV0ZXMg
	ZG8kPgoJPCRpZiBUZW1wbGF0ZVZhci5hcmMkPl9fdW5zYWZlX3VucmV0YWluZWQ8JGVu
	ZGlmJD4gTlNTdHJpbmcgKjwkQXR0cmlidXRlLm5hbWUkPjs8JGVuZGZvcmVhY2ggZG8k
	Pgp9IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+QXR0cmlidXRlczsKPCRlbmRpZiQ+
	Cgo8JGlmIG5vbmluaGVyaXRlZFJlbGF0aW9uc2hpcHMuQGNvdW50ID4gMCQ+CmV4dGVy
	biBjb25zdCBzdHJ1Y3QgPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5SZWxhdGlvbnNo
	aXBzIHs8JGZvcmVhY2ggUmVsYXRpb25zaGlwIG5vbmluaGVyaXRlZFJlbGF0aW9uc2hp
	cHMgZG8kPgoJPCRpZiBUZW1wbGF0ZVZhci5hcmMkPl9fdW5zYWZlX3VucmV0YWluZWQ8
	JGVuZGlmJD4gTlNTdHJpbmcgKjwkUmVsYXRpb25zaGlwLm5hbWUkPjs8JGVuZGZvcmVh
	Y2ggZG8kPgp9IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+UmVsYXRpb25zaGlwczsK
	PCRlbmRpZiQ+Cgo8JGlmIG5vbmluaGVyaXRlZEZldGNoZWRQcm9wZXJ0aWVzLkBjb3Vu
	dCA+IDAkPgpleHRlcm4gY29uc3Qgc3RydWN0IDwkbWFuYWdlZE9iamVjdENsYXNzTmFt
	ZSQ+RmV0Y2hlZFByb3BlcnRpZXMgezwkZm9yZWFjaCBGZXRjaGVkUHJvcGVydHkgbm9u
	aW5oZXJpdGVkRmV0Y2hlZFByb3BlcnRpZXMgZG8kPgoJPCRpZiBUZW1wbGF0ZVZhci5h
	cmMkPl9fdW5zYWZlX3VucmV0YWluZWQ8JGVuZGlmJD4gTlNTdHJpbmcgKjwkRmV0Y2hl
	ZFByb3BlcnR5Lm5hbWUkPjs8JGVuZGZvcmVhY2ggZG8kPgp9IDwkbWFuYWdlZE9iamVj
	dENsYXNzTmFtZSQ+RmV0Y2hlZFByb3BlcnRpZXM7CjwkZW5kaWYkPgoKPCRpZiBoYXNV
	c2VySW5mb0tleXMkPgpleHRlcm4gY29uc3Qgc3RydWN0IDwkbWFuYWdlZE9iamVjdENs
	YXNzTmFtZSQ+VXNlckluZm8gezwkZm9yZWFjaCBVc2VySW5mbyB1c2VySW5mb0tleVZh
	bHVlcyBkbyQ+Cgk8JGlmIFRlbXBsYXRlVmFyLmFyYyQ+X191bnNhZmVfdW5yZXRhaW5l
	ZDwkZW5kaWYkPiBOU1N0cmluZyAqPCRVc2VySW5mby5rZXkkPjs8JGVuZGZvcmVhY2gg
	ZG8kPgp9IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+VXNlckluZm87CjwkZW5kaWYk
	PgoKPCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25pbmhlcml0ZWRSZWxhdGlvbnNoaXBz
	IGRvJD5AY2xhc3MgPCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+Owo8JGVuZGZvcmVhY2ggZG8kPgo8JGZvcmVhY2ggQXR0
	cmlidXRlIG5vbmluaGVyaXRlZEF0dHJpYnV0ZXMgZG8kPgo8JGlmIEF0dHJpYnV0ZS5o
	YXNUcmFuc2Zvcm1hYmxlQXR0cmlidXRlVHlwZSQ+CjwkaWYgQXR0cmlidXRlLm9iamVj
	dEF0dHJpYnV0ZVRyYW5zZm9ybWFibGVQcm90b2NvbHMkPgo8JGZvcmVhY2ggUHJvdG9j
	b2wgQXR0cmlidXRlLm9iamVjdEF0dHJpYnV0ZVRyYW5zZm9ybWFibGVQcm90b2NvbHMg
	ZG8kPkBwcm90b2NvbCA8JFByb3RvY29sJD47CjwkZW5kZm9yZWFjaCBkbyQ+CjwkZWxz
	ZSQ+QGNsYXNzIDwkQXR0cmlidXRlLm9iamVjdEF0dHJpYnV0ZUNsYXNzTmFtZSQ+Ozwk
	ZW5kaWYkPjwkZW5kaWYkPgo8JGVuZGZvcmVhY2ggZG8kPgpAaW50ZXJmYWNlIDwkbWFu
	YWdlZE9iamVjdENsYXNzTmFtZSQ+SUQgOiA8JGlmIGhhc1N1cGVyZW50aXR5JD48JGN1
	c3RvbVN1cGVyZW50aXR5JD5JRDwkZWxzZSQ+TlNNYW5hZ2VkT2JqZWN0SUQ8JGVuZGlm
	JD4ge30KQGVuZAoKPCRpZiB1c2VySW5mby5kb2N1bWVudGF0aW9uJD4KLyoqCiAqIDwk
	dXNlckluZm8uZG9jdW1lbnRhdGlvbiQ+CiAqCiAqIDwkdXNlckluZm8uZGlzY3Vzc2lv
	biQ+CiAqLwo8JGVuZGlmJD4KQGludGVyZmFjZSBfPCRtYW5hZ2VkT2JqZWN0Q2xhc3NO
	YW1lJD4gOiA8JGN1c3RvbVN1cGVyZW50aXR5JD4ge30KKyAoaWQpaW5zZXJ0SW5NYW5h
	Z2VkT2JqZWN0Q29udGV4dDooTlNNYW5hZ2VkT2JqZWN0Q29udGV4dCopbW9jXzsKKyAo
	TlNTdHJpbmcqKWVudGl0eU5hbWU7CisgKE5TRW50aXR5RGVzY3JpcHRpb24qKWVudGl0
	eUluTWFuYWdlZE9iamVjdENvbnRleHQ6KE5TTWFuYWdlZE9iamVjdENvbnRleHQqKW1v
	Y187CkBwcm9wZXJ0eSAobm9uYXRvbWljLCByZWFkb25seSwgc3Ryb25nKSA8JG1hbmFn
	ZWRPYmplY3RDbGFzc05hbWUkPklEKiBvYmplY3RJRDsKCjwkZm9yZWFjaCBBdHRyaWJ1
	dGUgbm9uaW5oZXJpdGVkQXR0cmlidXRlcyBkbyQ+CjwkaWYgQXR0cmlidXRlLnVzZXJJ
	bmZvLmRvY3VtZW50YXRpb24kPgovKioKICogPCRBdHRyaWJ1dGUudXNlckluZm8uZG9j
	dW1lbnRhdGlvbiQ+CiAqCiAqIDwkQXR0cmlidXRlLnVzZXJJbmZvLmRpc2N1c3Npb24k
	PgogKi8KPCRlbmRpZiQ+CjwkaWYgQXR0cmlidXRlLmhhc0RlZmluZWRBdHRyaWJ1dGVU
	eXBlJD4KPCRpZiBUZW1wbGF0ZVZhci5hcmMkPgo8JGlmIEF0dHJpYnV0ZS5pc1JlYWRv
	bmx5JD4KQHByb3BlcnR5IChub25hdG9taWMsIHN0cm9uZywgcmVhZG9ubHkpIDwkQXR0
	cmlidXRlLm9iamVjdEF0dHJpYnV0ZVR5cGUkPiA8JEF0dHJpYnV0ZS5uYW1lJD47Cjwk
	ZWxzZSQ+CkBwcm9wZXJ0eSAobm9uYXRvbWljLCBzdHJvbmcpIDwkQXR0cmlidXRlLm9i
	amVjdEF0dHJpYnV0ZVR5cGUkPiA8JEF0dHJpYnV0ZS5uYW1lJD47CjwkZW5kaWYkPgo8
	JGVsc2UkPgo8JGlmIEF0dHJpYnV0ZS5pc1JlYWRvbmx5JD4KQHByb3BlcnR5IChub25h
	dG9taWMsIHJldGFpbiwgcmVhZG9ubHkpIDwkQXR0cmlidXRlLm9iamVjdEF0dHJpYnV0
	ZVR5cGUkPiA8JEF0dHJpYnV0ZS5uYW1lJD47CjwkZWxzZSQ+CkBwcm9wZXJ0eSAobm9u
	YXRvbWljLCByZXRhaW4pIDwkQXR0cmlidXRlLm9iamVjdEF0dHJpYnV0ZVR5cGUkPiA8
	JEF0dHJpYnV0ZS5uYW1lJD47CjwkZW5kaWYkPgo8JGVuZGlmJD4KPCRpZiBBdHRyaWJ1
	dGUuaGFzU2NhbGFyQXR0cmlidXRlVHlwZSQ+CjwkaWYgQXR0cmlidXRlLmlzUmVhZG9u
	bHkkPgpAcHJvcGVydHkgKGF0b21pYywgcmVhZG9ubHkpIDwkQXR0cmlidXRlLnNjYWxh
	ckF0dHJpYnV0ZVR5cGUkPiA8JEF0dHJpYnV0ZS5uYW1lJD5WYWx1ZTsKLSAoPCRBdHRy
	aWJ1dGUuc2NhbGFyQXR0cmlidXRlVHlwZSQ+KTwkQXR0cmlidXRlLm5hbWUkPlZhbHVl
	Owo8JGVsc2UkPgpAcHJvcGVydHkgKGF0b21pYykgPCRBdHRyaWJ1dGUuc2NhbGFyQXR0
	cmlidXRlVHlwZSQ+IDwkQXR0cmlidXRlLm5hbWUkPlZhbHVlOwotICg8JEF0dHJpYnV0
	ZS5zY2FsYXJBdHRyaWJ1dGVUeXBlJD4pPCRBdHRyaWJ1dGUubmFtZSQ+VmFsdWU7Ci0g
	KHZvaWQpc2V0PCRBdHRyaWJ1dGUubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+VmFs
	dWU6KDwkQXR0cmlidXRlLnNjYWxhckF0dHJpYnV0ZVR5cGUkPil2YWx1ZV87CjwkZW5k
	aWYkPgo8JGVuZGlmJD4KLy8tIChCT09MKXZhbGlkYXRlPCRBdHRyaWJ1dGUubmFtZS5p
	bml0aWFsQ2FwaXRhbFN0cmluZyQ+OihpZCopdmFsdWVfIGVycm9yOihOU0Vycm9yKiop
	ZXJyb3JfOwo8JGVuZGlmJD4KPCRlbmRmb3JlYWNoIGRvJD4KPCRmb3JlYWNoIFJlbGF0
	aW9uc2hpcCBub25pbmhlcml0ZWRSZWxhdGlvbnNoaXBzIGRvJD4KPCRpZiBSZWxhdGlv
	bnNoaXAudXNlckluZm8uZG9jdW1lbnRhdGlvbiQ+Ci8qKgogKiA8JFJlbGF0aW9uc2hp
	cC51c2VySW5mby5kb2N1bWVudGF0aW9uJD4KICoKICogPCRSZWxhdGlvbnNoaXAudXNl
	ckluZm8uZGlzY3Vzc2lvbiQ+CiAqLwo8JGVuZGlmJD4KPCRpZiBSZWxhdGlvbnNoaXAu
	aXNUb01hbnkkPgo8JGlmIFRlbXBsYXRlVmFyLmFyYyQ+CkBwcm9wZXJ0eSAobm9uYXRv
	bWljLCBzdHJvbmcpIDwkUmVsYXRpb25zaGlwLmltbXV0YWJsZUNvbGxlY3Rpb25DbGFz
	c05hbWUkPiAqPCRSZWxhdGlvbnNoaXAubmFtZSQ+Owo8JGVsc2UkPgpAcHJvcGVydHkg
	KG5vbmF0b21pYywgcmV0YWluKSA8JFJlbGF0aW9uc2hpcC5pbW11dGFibGVDb2xsZWN0
	aW9uQ2xhc3NOYW1lJD4gKjwkUmVsYXRpb25zaGlwLm5hbWUkPjsKPCRlbmRpZiQ+Ci0g
	KDwkUmVsYXRpb25zaGlwLm11dGFibGVDb2xsZWN0aW9uQ2xhc3NOYW1lJD4qKTwkUmVs
	YXRpb25zaGlwLm5hbWUkPlNldDsKPCRlbHNlJD4KPCRpZiBUZW1wbGF0ZVZhci5hcmMk
	PgpAcHJvcGVydHkgKG5vbmF0b21pYywgc3Ryb25nKSA8JFJlbGF0aW9uc2hpcC5kZXN0
	aW5hdGlvbkVudGl0eS5tYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4gKjwkUmVsYXRpb25z
	aGlwLm5hbWUkPjsKPCRlbHNlJD4KQHByb3BlcnR5IChub25hdG9taWMsIHJldGFpbikg
	PCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdlZE9iamVjdENsYXNz
	TmFtZSQ+ICo8JFJlbGF0aW9uc2hpcC5uYW1lJD47CjwkZW5kaWYkPgovLy0gKEJPT0wp
	dmFsaWRhdGU8JFJlbGF0aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD46
	KGlkKil2YWx1ZV8gZXJyb3I6KE5TRXJyb3IqKillcnJvcl87CjwkZW5kaWYkPgo8JGVu
	ZGZvcmVhY2ggZG8kPgo8JGZvcmVhY2ggRmV0Y2hSZXF1ZXN0IHByZXR0eUZldGNoUmVx
	dWVzdHMgZG8kPgo8JGlmIEZldGNoUmVxdWVzdC5zaW5nbGVSZXN1bHQkPgorIChpZClm
	ZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPjooTlNN
	YW5hZ2VkT2JqZWN0Q29udGV4dCopbW9jXyA8JGZvcmVhY2ggQmluZGluZyBGZXRjaFJl
	cXVlc3QuYmluZGluZ3MgZG8yJD48JEJpbmRpbmcubmFtZSQ+Oig8JEJpbmRpbmcudHlw
	ZSQ+KTwkQmluZGluZy5uYW1lJD5fIDwkZW5kZm9yZWFjaCBkbzIkPjsKKyAoaWQpZmV0
	Y2g8JEZldGNoUmVxdWVzdC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD46KE5TTWFu
	YWdlZE9iamVjdENvbnRleHQqKW1vY18gPCRmb3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1
	ZXN0LmJpbmRpbmdzIGRvMiQ+PCRCaW5kaW5nLm5hbWUkPjooPCRCaW5kaW5nLnR5cGUk
	Pik8JEJpbmRpbmcubmFtZSQ+XyA8JGVuZGZvcmVhY2ggZG8yJD5lcnJvcjooTlNFcnJv
	cioqKWVycm9yXzsKPCRlbHNlJD4KKyAoTlNBcnJheSopZmV0Y2g8JEZldGNoUmVxdWVz
	dC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD46KE5TTWFuYWdlZE9iamVjdENvbnRl
	eHQqKW1vY18gPCRmb3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0LmJpbmRpbmdzIGRv
	MiQ+PCRCaW5kaW5nLm5hbWUkPjooPCRCaW5kaW5nLnR5cGUkPik8JEJpbmRpbmcubmFt
	ZSQ+XyA8JGVuZGZvcmVhY2ggZG8yJD47CisgKE5TQXJyYXkqKWZldGNoPCRGZXRjaFJl
	cXVlc3QubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+OihOU01hbmFnZWRPYmplY3RD
	b250ZXh0Kiltb2NfIDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5n
	cyBkbzIkPjwkQmluZGluZy5uYW1lJD46KDwkQmluZGluZy50eXBlJD4pPCRCaW5kaW5n
	Lm5hbWUkPl8gPCRlbmRmb3JlYWNoIGRvMiQ+ZXJyb3I6KE5TRXJyb3IqKillcnJvcl87
	CjwkZW5kaWYkPgo8JGVuZGZvcmVhY2ggZG8kPgo8JGZvcmVhY2ggRmV0Y2hlZFByb3Bl
	cnR5IG5vbmluaGVyaXRlZEZldGNoZWRQcm9wZXJ0aWVzIGRvJD4KPCRpZiBGZXRjaGVk
	UHJvcGVydHkudXNlckluZm8uZG9jdW1lbnRhdGlvbiQ+Ci8qKgogKiA8JEZldGNoZWRQ
	cm9wZXJ0eS51c2VySW5mby5kb2N1bWVudGF0aW9uJD4KICoKICogPCRGZXRjaGVkUHJv
	cGVydHkudXNlckluZm8uZGlzY3Vzc2lvbiQ+CiAqLwo8JGVuZGlmJD4KQHByb3BlcnR5
	IChub25hdG9taWMsIHJlYWRvbmx5KSBOU0FycmF5ICo8JEZldGNoZWRQcm9wZXJ0eS5u
	YW1lJD47CjwkZW5kZm9yZWFjaCBkbyQ+CjwkaWYgVGVtcGxhdGVWYXIuZnJjJD4KI2lm
	IFRBUkdFVF9PU19JUEhPTkUKPCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25pbmhlcml0
	ZWRSZWxhdGlvbnNoaXBzIGRvJD4KPCRpZiBSZWxhdGlvbnNoaXAuaXNUb01hbnkkPgot
	IChOU0ZldGNoZWRSZXN1bHRzQ29udHJvbGxlciopbmV3PCRSZWxhdGlvbnNoaXAubmFt
	ZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+RmV0Y2hlZFJlc3VsdHNDb250cm9sbGVyV2l0
	aFNvcnREZXNjcmlwdG9yczooTlNBcnJheSopc29ydERlc2NyaXB0b3JzOwo8JGVuZGlm
	JD4KPCRlbmRmb3JlYWNoIGRvJD4KI2VuZGlmCjwkZW5kaWYkPgpAZW5kCgo8JGZvcmVh
	Y2ggUmVsYXRpb25zaGlwIG5vbmluaGVyaXRlZFJlbGF0aW9uc2hpcHMgZG8kPgo8JGlm
	IFJlbGF0aW9uc2hpcC5pc1RvTWFueSQ+CkBpbnRlcmZhY2UgXzwkbWFuYWdlZE9iamVj
	dENsYXNzTmFtZSQ+ICg8JFJlbGF0aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3Ry
	aW5nJD5Db3JlRGF0YUdlbmVyYXRlZEFjY2Vzc29ycykKLSAodm9pZClhZGQ8JFJlbGF0
	aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD46KDwkUmVsYXRpb25zaGlw
	LmltbXV0YWJsZUNvbGxlY3Rpb25DbGFzc05hbWUkPiopdmFsdWVfOwotICh2b2lkKXJl
	bW92ZTwkUmVsYXRpb25zaGlwLm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPjooPCRS
	ZWxhdGlvbnNoaXAuaW1tdXRhYmxlQ29sbGVjdGlvbkNsYXNzTmFtZSQ+Kil2YWx1ZV87
	Ci0gKHZvaWQpYWRkPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmlu
	ZyQ+T2JqZWN0Oig8JFJlbGF0aW9uc2hpcC5kZXN0aW5hdGlvbkVudGl0eS5tYW5hZ2Vk
	T2JqZWN0Q2xhc3NOYW1lJD4qKXZhbHVlXzsKLSAodm9pZClyZW1vdmU8JFJlbGF0aW9u
	c2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD5PYmplY3Q6KDwkUmVsYXRpb25z
	aGlwLmRlc3RpbmF0aW9uRW50aXR5Lm1hbmFnZWRPYmplY3RDbGFzc05hbWUkPiopdmFs
	dWVfOwo8JGlmIFJlbGF0aW9uc2hpcC5pc09yZGVyZWQkPgotICh2b2lkKWluc2VydE9i
	amVjdDooPCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdlZE9iamVj
	dENsYXNzTmFtZSQ+Kil2YWx1ZSBpbjwkUmVsYXRpb25zaGlwLm5hbWUuaW5pdGlhbENh
	cGl0YWxTdHJpbmckPkF0SW5kZXg6KE5TVUludGVnZXIpaWR4OwotICh2b2lkKXJlbW92
	ZU9iamVjdEZyb208JFJlbGF0aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5n
	JD5BdEluZGV4OihOU1VJbnRlZ2VyKWlkeDsKLSAodm9pZClpbnNlcnQ8JFJlbGF0aW9u
	c2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD46KE5TQXJyYXkgKil2YWx1ZSBh
	dEluZGV4ZXM6KE5TSW5kZXhTZXQgKilpbmRleGVzOwotICh2b2lkKXJlbW92ZTwkUmVs
	YXRpb25zaGlwLm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPkF0SW5kZXhlczooTlNJ
	bmRleFNldCAqKWluZGV4ZXM7Ci0gKHZvaWQpcmVwbGFjZU9iamVjdEluPCRSZWxhdGlv
	bnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+QXRJbmRleDooTlNVSW50ZWdl
	cilpZHggd2l0aE9iamVjdDooPCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHku
	bWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+Kil2YWx1ZTsKLSAodm9pZClyZXBsYWNlPCRS
	ZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+QXRJbmRleGVzOihO
	U0luZGV4U2V0ICopaW5kZXhlcyB3aXRoPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFs
	Q2FwaXRhbFN0cmluZyQ+OihOU0FycmF5ICopdmFsdWVzOwo8JGVuZGlmJD4KQGVuZAo8
	JGVuZGlmJD4KPCRlbmRmb3JlYWNoIGRvJD4KCkBpbnRlcmZhY2UgXzwkbWFuYWdlZE9i
	amVjdENsYXNzTmFtZSQ+IChDb3JlRGF0YUdlbmVyYXRlZFByaW1pdGl2ZUFjY2Vzc29y
	cykKPCRmb3JlYWNoIEF0dHJpYnV0ZSBub25pbmhlcml0ZWRBdHRyaWJ1dGVzU2Fuc1R5
	cGUgZG8kPgo8JGlmIEF0dHJpYnV0ZS5oYXNEZWZpbmVkQXR0cmlidXRlVHlwZSQ+Ci0g
	KDwkQXR0cmlidXRlLm9iamVjdEF0dHJpYnV0ZVR5cGUkPilwcmltaXRpdmU8JEF0dHJp
	YnV0ZS5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD47Ci0gKHZvaWQpc2V0UHJpbWl0
	aXZlPCRBdHRyaWJ1dGUubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+Oig8JEF0dHJp
	YnV0ZS5vYmplY3RBdHRyaWJ1dGVUeXBlJD4pdmFsdWU7CjwkaWYgQXR0cmlidXRlLmhh
	c1NjYWxhckF0dHJpYnV0ZVR5cGUkPgotICg8JEF0dHJpYnV0ZS5zY2FsYXJBdHRyaWJ1
	dGVUeXBlJD4pcHJpbWl0aXZlPCRBdHRyaWJ1dGUubmFtZS5pbml0aWFsQ2FwaXRhbFN0
	cmluZyQ+VmFsdWU7Ci0gKHZvaWQpc2V0UHJpbWl0aXZlPCRBdHRyaWJ1dGUubmFtZS5p
	bml0aWFsQ2FwaXRhbFN0cmluZyQ+VmFsdWU6KDwkQXR0cmlidXRlLnNjYWxhckF0dHJp
	YnV0ZVR5cGUkPil2YWx1ZV87CjwkZW5kaWYkPgo8JGVuZGlmJD4KPCRlbmRmb3JlYWNo
	IGRvJD4KPCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25pbmhlcml0ZWRSZWxhdGlvbnNo
	aXBzIGRvJD4KPCRpZiBSZWxhdGlvbnNoaXAuaXNUb01hbnkkPgotICg8JFJlbGF0aW9u
	c2hpcC5tdXRhYmxlQ29sbGVjdGlvbkNsYXNzTmFtZSQ+KilwcmltaXRpdmU8JFJlbGF0
	aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD47Ci0gKHZvaWQpc2V0UHJp
	bWl0aXZlPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+Oig8
	JFJlbGF0aW9uc2hpcC5tdXRhYmxlQ29sbGVjdGlvbkNsYXNzTmFtZSQ+Kil2YWx1ZTsK
	PCRlbHNlJD4KLSAoPCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+KilwcmltaXRpdmU8JFJlbGF0aW9uc2hpcC5uYW1lLmlu
	aXRpYWxDYXBpdGFsU3RyaW5nJD47Ci0gKHZvaWQpc2V0UHJpbWl0aXZlPCRSZWxhdGlv
	bnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+Oig8JFJlbGF0aW9uc2hpcC5k
	ZXN0aW5hdGlvbkVudGl0eS5tYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4qKXZhbHVlOwo8
	JGVuZGlmJD4KPCRlbmRmb3JlYWNoIGRvJD4KQGVuZAo=
	</data>
	<key>machine.m.motemplate</key>
	<data>
	Ly8gRE8gTk9UIEVESVQuIFRoaXMgZmlsZSBpcyBtYWNoaW5lLWdlbmVyYXRlZCBhbmQg
	Y29uc3RhbnRseSBvdmVyd3JpdHRlbi4KLy8gTWFrZSBjaGFuZ2VzIHRvIDwkbWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+Lm0gaW5zdGVhZC4KCiNpbXBvcnQgIl88JG1hbmFnZWRP
	YmplY3RDbGFzc05hbWUkPi5oIgoKPCRpZiBub25pbmhlcml0ZWRBdHRyaWJ1dGVzLkBj
	b3VudCA+IDAkPgpjb25zdCBzdHJ1Y3QgPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5B
	dHRyaWJ1dGVzIDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+QXR0cmlidXRlcyA9IHs8
	JGZvcmVhY2ggQXR0cmlidXRlIG5vbmluaGVyaXRlZEF0dHJpYnV0ZXMgZG8kPgoJLjwk
	QXR0cmlidXRlLm5hbWUkPiA9IEAiPCRBdHRyaWJ1dGUubmFtZSQ+Iiw8JGVuZGZvcmVh
	Y2ggZG8kPgp9Owo8JGVuZGlmJD4KCjwkaWYgbm9uaW5oZXJpdGVkUmVsYXRpb25zaGlw
	cy5AY291bnQgPiAwJD4KY29uc3Qgc3RydWN0IDwkbWFuYWdlZE9iamVjdENsYXNzTmFt
	ZSQ+UmVsYXRpb25zaGlwcyA8JG1hbmFnZWRPYmplY3RDbGFzc05hbWUkPlJlbGF0aW9u
	c2hpcHMgPSB7PCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25pbmhlcml0ZWRSZWxhdGlv
	bnNoaXBzIGRvJD4KCS48JFJlbGF0aW9uc2hpcC5uYW1lJD4gPSBAIjwkUmVsYXRpb25z
	aGlwLm5hbWUkPiIsPCRlbmRmb3JlYWNoIGRvJD4KfTsKPCRlbmRpZiQ+Cgo8JGlmIG5v
	bmluaGVyaXRlZEZldGNoZWRQcm9wZXJ0aWVzLkBjb3VudCA+IDAkPgpjb25zdCBzdHJ1
	Y3QgPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5GZXRjaGVkUHJvcGVydGllcyA8JG1h
	bmFnZWRPYmplY3RDbGFzc05hbWUkPkZldGNoZWRQcm9wZXJ0aWVzID0gezwkZm9yZWFj
	aCBGZXRjaGVkUHJvcGVydHkgbm9uaW5oZXJpdGVkRmV0Y2hlZFByb3BlcnRpZXMgZG8k
	PgoJLjwkRmV0Y2hlZFByb3BlcnR5Lm5hbWUkPiA9IEAiPCRGZXRjaGVkUHJvcGVydHku
	bmFtZSQ+Iiw8JGVuZGZvcmVhY2ggZG8kPgp9Owo8JGVuZGlmJD4KCjwkaWYgaGFzVXNl
	ckluZm9LZXlzJD4KY29uc3Qgc3RydWN0IDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+
	VXNlckluZm8gPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5Vc2VySW5mbyA9IHs8JGZv
	cmVhY2ggVXNlckluZm8gdXNlckluZm9LZXlWYWx1ZXMgZG8kPgoJLjwkVXNlckluZm8u
	a2V5JD4gPSBAIjwkVXNlckluZm8udmFsdWUkPiIsPCRlbmRmb3JlYWNoIGRvJD4KfTsK
	PCRlbmRpZiQ+CgpAaW1wbGVtZW50YXRpb24gPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1l
	JD5JRApAZW5kCgpAaW1wbGVtZW50YXRpb24gXzwkbWFuYWdlZE9iamVjdENsYXNzTmFt
	ZSQ+CgorIChpZClpbnNlcnRJbk1hbmFnZWRPYmplY3RDb250ZXh0OihOU01hbmFnZWRP
	YmplY3RDb250ZXh0Kiltb2NfIHsKCU5TUGFyYW1ldGVyQXNzZXJ0KG1vY18pOwoJcmV0
	dXJuIFtOU0VudGl0eURlc2NyaXB0aW9uIGluc2VydE5ld09iamVjdEZvckVudGl0eUZv
	ck5hbWU6QCI8JG5hbWUkPiIgaW5NYW5hZ2VkT2JqZWN0Q29udGV4dDptb2NfXTsKfQoK
	KyAoTlNTdHJpbmcqKWVudGl0eU5hbWUgewoJcmV0dXJuIEAiPCRuYW1lJD4iOwp9Cgor
	IChOU0VudGl0eURlc2NyaXB0aW9uKillbnRpdHlJbk1hbmFnZWRPYmplY3RDb250ZXh0
	OihOU01hbmFnZWRPYmplY3RDb250ZXh0Kiltb2NfIHsKCU5TUGFyYW1ldGVyQXNzZXJ0
	KG1vY18pOwoJcmV0dXJuIFtOU0VudGl0eURlc2NyaXB0aW9uIGVudGl0eUZvck5hbWU6
	QCI8JG5hbWUkPiIgaW5NYW5hZ2VkT2JqZWN0Q29udGV4dDptb2NfXTsKfQoKLSAoPCRt
	YW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5JRCopb2JqZWN0SUQgewoJcmV0dXJuICg8JG1h
	bmFnZWRPYmplY3RDbGFzc05hbWUkPklEKilbc3VwZXIgb2JqZWN0SURdOwp9CgorIChO
	U1NldCopa2V5UGF0aHNGb3JWYWx1ZXNBZmZlY3RpbmdWYWx1ZUZvcktleTooTlNTdHJp
	bmcqKWtleSB7CglOU1NldCAqa2V5UGF0aHMgPSBbc3VwZXIga2V5UGF0aHNGb3JWYWx1
	ZXNBZmZlY3RpbmdWYWx1ZUZvcktleTprZXldOwoJPCRmb3JlYWNoIEF0dHJpYnV0ZSBu
	b25pbmhlcml0ZWRBdHRyaWJ1dGVzIGRvJD48JGlmIEF0dHJpYnV0ZS5oYXNEZWZpbmVk
	QXR0cmlidXRlVHlwZSQ+PCRpZiBBdHRyaWJ1dGUuaGFzU2NhbGFyQXR0cmlidXRlVHlw
	ZSQ+CglpZiAoW2tleSBpc0VxdWFsVG9TdHJpbmc6QCI8JEF0dHJpYnV0ZS5uYW1lJD5W
	YWx1ZSJdKSB7CgkJTlNTZXQgKmFmZmVjdGluZ0tleSA9IFtOU1NldCBzZXRXaXRoT2Jq
	ZWN0OkAiPCRBdHRyaWJ1dGUubmFtZSQ+Il07CgkJa2V5UGF0aHMgPSBba2V5UGF0aHMg
	c2V0QnlBZGRpbmdPYmplY3RzRnJvbVNldDphZmZlY3RpbmdLZXldOwoJCXJldHVybiBr
	ZXlQYXRoczsKCX08JGVuZGlmJD48JGVuZGlmJD48JGVuZGZvcmVhY2ggZG8kPgoKCXJl
	dHVybiBrZXlQYXRoczsKfQoKPCRmb3JlYWNoIEF0dHJpYnV0ZSBub25pbmhlcml0ZWRB
	dHRyaWJ1dGVzIGRvJD4KPCRpZiBBdHRyaWJ1dGUuaGFzRGVmaW5lZEF0dHJpYnV0ZVR5
	cGUkPgoKQGR5bmFtaWMgPCRBdHRyaWJ1dGUubmFtZSQ+OwoKPCRpZiBBdHRyaWJ1dGUu
	aGFzU2NhbGFyQXR0cmlidXRlVHlwZSQ+CgotICg8JEF0dHJpYnV0ZS5zY2FsYXJBdHRy
	aWJ1dGVUeXBlJD4pPCRBdHRyaWJ1dGUubmFtZSQ+VmFsdWUgewoJTlNOdW1iZXIgKnJl
	c3VsdCA9IFtzZWxmIDwkQXR0cmlidXRlLm5hbWUkPl07CglyZXR1cm4gW3Jlc3VsdCA8
	JEF0dHJpYnV0ZS5zY2FsYXJBY2Nlc3Nvck1ldGhvZE5hbWUkPl07Cn0KCjwkaWYgISBB
	dHRyaWJ1dGUuaXNSZWFkb25seSQ+Ci0gKHZvaWQpc2V0PCRBdHRyaWJ1dGUubmFtZS5p
	bml0aWFsQ2FwaXRhbFN0cmluZyQ+VmFsdWU6KDwkQXR0cmlidXRlLnNjYWxhckF0dHJp
	YnV0ZVR5cGUkPil2YWx1ZV8gewoJW3NlbGYgc2V0PCRBdHRyaWJ1dGUubmFtZS5pbml0
	aWFsQ2FwaXRhbFN0cmluZyQ+OjwkaWYgVGVtcGxhdGVWYXIubGl0ZXJhbHMkPkAodmFs
	dWVfKTwkZWxzZSQ+W05TTnVtYmVyIDwkQXR0cmlidXRlLnNjYWxhckZhY3RvcnlNZXRo
	b2ROYW1lJD52YWx1ZV9dPCRlbmRpZiQ+XTsKfQo8JGVuZGlmJD4KCjwkaWYgQXR0cmli
	dXRlLm5hbWUgIT0gInR5cGUiJD4KLSAoPCRBdHRyaWJ1dGUuc2NhbGFyQXR0cmlidXRl
	VHlwZSQ+KXByaW1pdGl2ZTwkQXR0cmlidXRlLm5hbWUuaW5pdGlhbENhcGl0YWxTdHJp
	bmckPlZhbHVlIHsKCU5TTnVtYmVyICpyZXN1bHQgPSBbc2VsZiBwcmltaXRpdmU8JEF0
	dHJpYnV0ZS5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD5dOwoJcmV0dXJuIFtyZXN1
	bHQgPCRBdHRyaWJ1dGUuc2NhbGFyQWNjZXNzb3JNZXRob2ROYW1lJD5dOwp9CgotICh2
	b2lkKXNldFByaW1pdGl2ZTwkQXR0cmlidXRlLm5hbWUuaW5pdGlhbENhcGl0YWxTdHJp
	bmckPlZhbHVlOig8JEF0dHJpYnV0ZS5zY2FsYXJBdHRyaWJ1dGVUeXBlJD4pdmFsdWVf
	IHsKCVtzZWxmIHNldFByaW1pdGl2ZTwkQXR0cmlidXRlLm5hbWUuaW5pdGlhbENhcGl0
	YWxTdHJpbmckPjo8JGlmIFRlbXBsYXRlVmFyLmxpdGVyYWxzJD5AKHZhbHVlXyk8JGVs
	c2UkPltOU051bWJlciA8JEF0dHJpYnV0ZS5zY2FsYXJGYWN0b3J5TWV0aG9kTmFtZSQ+
	dmFsdWVfXTwkZW5kaWYkPl07Cn0KPCRlbmRpZiQ+CjwkZW5kaWYkPgo8JGVuZGlmJD4K
	PCRlbmRmb3JlYWNoIGRvJD4KCjwkZm9yZWFjaCBSZWxhdGlvbnNoaXAgbm9uaW5oZXJp
	dGVkUmVsYXRpb25zaGlwcyBkbyQ+CkBkeW5hbWljIDwkUmVsYXRpb25zaGlwLm5hbWUk
	PjsKCgk8JGlmIFJlbGF0aW9uc2hpcC5pc1RvTWFueSQ+Ci0gKDwkUmVsYXRpb25zaGlw
	Lm11dGFibGVDb2xsZWN0aW9uQ2xhc3NOYW1lJD4qKTwkUmVsYXRpb25zaGlwLm5hbWUk
	PlNldCB7Cglbc2VsZiB3aWxsQWNjZXNzVmFsdWVGb3JLZXk6QCI8JFJlbGF0aW9uc2hp
	cC5uYW1lJD4iXTsKICA8JGlmIFJlbGF0aW9uc2hpcC5qcl9pc09yZGVyZWQkPgoJPCRS
	ZWxhdGlvbnNoaXAubXV0YWJsZUNvbGxlY3Rpb25DbGFzc05hbWUkPiAqcmVzdWx0ID0g
	KDwkUmVsYXRpb25zaGlwLm11dGFibGVDb2xsZWN0aW9uQ2xhc3NOYW1lJD4qKVtzZWxm
	IG11dGFibGVPcmRlcmVkU2V0VmFsdWVGb3JLZXk6QCI8JFJlbGF0aW9uc2hpcC5uYW1l
	JD4iXTsKICA8JGVsc2UkPgoJPCRSZWxhdGlvbnNoaXAubXV0YWJsZUNvbGxlY3Rpb25D
	bGFzc05hbWUkPiAqcmVzdWx0ID0gKDwkUmVsYXRpb25zaGlwLm11dGFibGVDb2xsZWN0
	aW9uQ2xhc3NOYW1lJD4qKVtzZWxmIG11dGFibGVTZXRWYWx1ZUZvcktleTpAIjwkUmVs
	YXRpb25zaGlwLm5hbWUkPiJdOwogIDwkZW5kaWYkPgoJW3NlbGYgZGlkQWNjZXNzVmFs
	dWVGb3JLZXk6QCI8JFJlbGF0aW9uc2hpcC5uYW1lJD4iXTsKCXJldHVybiByZXN1bHQ7
	Cn0KCTwkZW5kaWYkPgo8JGVuZGZvcmVhY2ggZG8kPgoKPCRmb3JlYWNoIEZldGNoZWRQ
	cm9wZXJ0eSBub25pbmhlcml0ZWRGZXRjaGVkUHJvcGVydGllcyBkbyQ+CkBkeW5hbWlj
	IDwkRmV0Y2hlZFByb3BlcnR5Lm5hbWUkPjsKPCRlbmRmb3JlYWNoIGRvJD4KCjwkZm9y
	ZWFjaCBGZXRjaFJlcXVlc3QgcHJldHR5RmV0Y2hSZXF1ZXN0cyBkbyQ+CjwkaWYgRmV0
	Y2hSZXF1ZXN0LnNpbmdsZVJlc3VsdCQ+CisgKGlkKWZldGNoPCRGZXRjaFJlcXVlc3Qu
	bmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+OihOU01hbmFnZWRPYmplY3RDb250ZXh0
	Kiltb2NfIDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5ncyBkbzIk
	PjwkQmluZGluZy5uYW1lJD46KDwkQmluZGluZy50eXBlJD4pPCRCaW5kaW5nLm5hbWUk
	Pl8gPCRlbmRmb3JlYWNoIGRvMiQ+ewoJTlNFcnJvciAqZXJyb3IgPSBuaWw7CglpZCBy
	ZXN1bHQgPSBbc2VsZiBmZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5hbWUuaW5pdGlhbENhcGl0
	YWxTdHJpbmckPjptb2NfIDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5k
	aW5ncyBkbzIkPjwkQmluZGluZy5uYW1lJD46PCRCaW5kaW5nLm5hbWUkPl8gPCRlbmRm
	b3JlYWNoIGRvMiQ+ZXJyb3I6JmVycm9yXTsKCWlmIChlcnJvcikgewojaWZkZWYgTlNB
	cHBLaXRWZXJzaW9uTnVtYmVyMTBfMAoJCVtOU0FwcCBwcmVzZW50RXJyb3I6ZXJyb3Jd
	OwojZWxzZQoJCU5TTG9nKEAiZXJyb3I6ICVAIiwgZXJyb3IpOwojZW5kaWYKCX0KCXJl
	dHVybiByZXN1bHQ7Cn0KKyAoaWQpZmV0Y2g8JEZldGNoUmVxdWVzdC5uYW1lLmluaXRp
	YWxDYXBpdGFsU3RyaW5nJD46KE5TTWFuYWdlZE9iamVjdENvbnRleHQqKW1vY18gPCRm
	b3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0LmJpbmRpbmdzIGRvMiQ+PCRCaW5kaW5n
	Lm5hbWUkPjooPCRCaW5kaW5nLnR5cGUkPik8JEJpbmRpbmcubmFtZSQ+XyA8JGVuZGZv
	cmVhY2ggZG8yJD5lcnJvcjooTlNFcnJvcioqKWVycm9yXyB7CglOU1BhcmFtZXRlckFz
	c2VydChtb2NfKTsKCU5TRXJyb3IgKmVycm9yID0gbmlsOwoKCU5TTWFuYWdlZE9iamVj
	dE1vZGVsICptb2RlbCA9IFtbbW9jXyBwZXJzaXN0ZW50U3RvcmVDb29yZGluYXRvcl0g
	bWFuYWdlZE9iamVjdE1vZGVsXTsKCTwkaWYgRmV0Y2hSZXF1ZXN0Lmhhc0JpbmRpbmdz
	JD4KCU5TRGljdGlvbmFyeSAqc3Vic3RpdHV0aW9uVmFyaWFibGVzID0gW05TRGljdGlv
	bmFyeSBkaWN0aW9uYXJ5V2l0aE9iamVjdHNBbmRLZXlzOgoJCQkJCQkJCQkJCQkJCTwk
	Zm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5ncyBkbzIkPgoJCQkJCQkJ
	CQkJCQkJCTwkQmluZGluZy5uYW1lJD5fLCBAIjwkQmluZGluZy5uYW1lJD4iLAoJCQkJ
	CQkJCQkJCQkJCTwkZW5kZm9yZWFjaCBkbzIkPgoJCQkJCQkJCQkJCQkJCW5pbF07Cgk8
	JGVsc2UkPgoJTlNEaWN0aW9uYXJ5ICpzdWJzdGl0dXRpb25WYXJpYWJsZXMgPSBbTlNE
	aWN0aW9uYXJ5IGRpY3Rpb25hcnldOwoJPCRlbmRpZiQ+CglOU0ZldGNoUmVxdWVzdCAq
	ZmV0Y2hSZXF1ZXN0ID0gW21vZGVsIGZldGNoUmVxdWVzdEZyb21UZW1wbGF0ZVdpdGhO
	YW1lOkAiPCRGZXRjaFJlcXVlc3QubmFtZSQ+IgoJCQkJCQkJCQkJCQkJIHN1YnN0aXR1
	dGlvblZhcmlhYmxlczpzdWJzdGl0dXRpb25WYXJpYWJsZXNdOwoJTlNBc3NlcnQoZmV0
	Y2hSZXF1ZXN0LCBAIkNhbid0IGZpbmQgZmV0Y2ggcmVxdWVzdCBuYW1lZCBcIjwkRmV0
	Y2hSZXF1ZXN0Lm5hbWUkPlwiLiIpOwoKCWlkIHJlc3VsdCA9IG5pbDsKCU5TQXJyYXkg
	KnJlc3VsdHMgPSBbbW9jXyBleGVjdXRlRmV0Y2hSZXF1ZXN0OmZldGNoUmVxdWVzdCBl
	cnJvcjomZXJyb3JdOwoKCWlmICghZXJyb3IpIHsKCQlzd2l0Y2ggKFtyZXN1bHRzIGNv
	dW50XSkgewoJCQljYXNlIDA6CgkJCQkvLwlOb3RoaW5nIGZvdW5kIG1hdGNoaW5nIHRo
	ZSBmZXRjaCByZXF1ZXN0LiBUaGF0J3MgY29vbCwgdGhvdWdoOiB3ZSdsbCBqdXN0IHJl
	dHVybiBuaWwuCgkJCQlicmVhazsKCQkJY2FzZSAxOgoJCQkJcmVzdWx0ID0gW3Jlc3Vs
	dHMgb2JqZWN0QXRJbmRleDowXTsKCQkJCWJyZWFrOwoJCQlkZWZhdWx0OgoJCQkJTlNM
	b2coQCJXQVJOIGZldGNoIHJlcXVlc3QgPCRGZXRjaFJlcXVlc3QubmFtZSQ+OiAwIG9y
	IDEgb2JqZWN0cyBleHBlY3RlZCwgJWx1IGZvdW5kIChzdWJzdGl0dXRpb25WYXJpYWJs
	ZXM6JUAsIHJlc3VsdHM6JUApIiwKCQkJCQkodW5zaWduZWQgbG9uZylbcmVzdWx0cyBj
	b3VudF0sCgkJCQkJc3Vic3RpdHV0aW9uVmFyaWFibGVzLAoJCQkJCXJlc3VsdHMpOwoJ
	CX0KCX0KCglpZiAoZXJyb3JfKSAqZXJyb3JfID0gZXJyb3I7CglyZXR1cm4gcmVzdWx0
	Owp9CjwkZWxzZSQ+CisgKE5TQXJyYXkqKWZldGNoPCRGZXRjaFJlcXVlc3QubmFtZS5p
	bml0aWFsQ2FwaXRhbFN0cmluZyQ+OihOU01hbmFnZWRPYmplY3RDb250ZXh0Kiltb2Nf
	IDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5ncyBkbzIkPjwkQmlu
	ZGluZy5uYW1lJD46KDwkQmluZGluZy50eXBlJD4pPCRCaW5kaW5nLm5hbWUkPl8gPCRl
	bmRmb3JlYWNoIGRvMiQ+ewoJTlNFcnJvciAqZXJyb3IgPSBuaWw7CglOU0FycmF5ICpy
	ZXN1bHQgPSBbc2VsZiBmZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5hbWUuaW5pdGlhbENhcGl0
	YWxTdHJpbmckPjptb2NfIDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5k
	aW5ncyBkbzIkPjwkQmluZGluZy5uYW1lJD46PCRCaW5kaW5nLm5hbWUkPl8gPCRlbmRm
	b3JlYWNoIGRvMiQ+ZXJyb3I6JmVycm9yXTsKCWlmIChlcnJvcikgewojaWZkZWYgTlNB
	cHBLaXRWZXJzaW9uTnVtYmVyMTBfMAoJCVtOU0FwcCBwcmVzZW50RXJyb3I6ZXJyb3Jd
	OwojZWxzZQoJCU5TTG9nKEAiZXJyb3I6ICVAIiwgZXJyb3IpOwojZW5kaWYKCX0KCXJl
	dHVybiByZXN1bHQ7Cn0KKyAoTlNBcnJheSopZmV0Y2g8JEZldGNoUmVxdWVzdC5uYW1l
	LmluaXRpYWxDYXBpdGFsU3RyaW5nJD46KE5TTWFuYWdlZE9iamVjdENvbnRleHQqKW1v
	Y18gPCRmb3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0LmJpbmRpbmdzIGRvMiQ+PCRC
	aW5kaW5nLm5hbWUkPjooPCRCaW5kaW5nLnR5cGUkPik8JEJpbmRpbmcubmFtZSQ+XyA8
	JGVuZGZvcmVhY2ggZG8yJD5lcnJvcjooTlNFcnJvcioqKWVycm9yXyB7CglOU1BhcmFt
	ZXRlckFzc2VydChtb2NfKTsKCU5TRXJyb3IgKmVycm9yID0gbmlsOwoKCU5TTWFuYWdl
	ZE9iamVjdE1vZGVsICptb2RlbCA9IFtbbW9jXyBwZXJzaXN0ZW50U3RvcmVDb29yZGlu
	YXRvcl0gbWFuYWdlZE9iamVjdE1vZGVsXTsKCTwkaWYgRmV0Y2hSZXF1ZXN0Lmhhc0Jp
	bmRpbmdzJD4KCU5TRGljdGlvbmFyeSAqc3Vic3RpdHV0aW9uVmFyaWFibGVzID0gW05T
	RGljdGlvbmFyeSBkaWN0aW9uYXJ5V2l0aE9iamVjdHNBbmRLZXlzOgoJCQkJCQkJCQkJ
	CQkJCTwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5ncyBkbzIkPgoJ
	CQkJCQkJCQkJCQkJCTwkQmluZGluZy5uYW1lJD5fLCBAIjwkQmluZGluZy5uYW1lJD4i
	LAoJCQkJCQkJCQkJCQkJCTwkZW5kZm9yZWFjaCBkbzIkPgoJCQkJCQkJCQkJCQkJCW5p
	bF07Cgk8JGVsc2UkPgoJTlNEaWN0aW9uYXJ5ICpzdWJzdGl0dXRpb25WYXJpYWJsZXMg
	PSBbTlNEaWN0aW9uYXJ5IGRpY3Rpb25hcnldOwoJPCRlbmRpZiQ+CglOU0ZldGNoUmVx
	dWVzdCAqZmV0Y2hSZXF1ZXN0ID0gW21vZGVsIGZldGNoUmVxdWVzdEZyb21UZW1wbGF0
	ZVdpdGhOYW1lOkAiPCRGZXRjaFJlcXVlc3QubmFtZSQ+IgoJCQkJCQkJCQkJCQkJIHN1
	YnN0aXR1dGlvblZhcmlhYmxlczpzdWJzdGl0dXRpb25WYXJpYWJsZXNdOwoJTlNBc3Nl
	cnQoZmV0Y2hSZXF1ZXN0LCBAIkNhbid0IGZpbmQgZmV0Y2ggcmVxdWVzdCBuYW1lZCBc
	IjwkRmV0Y2hSZXF1ZXN0Lm5hbWUkPlwiLiIpOwoKCU5TQXJyYXkgKnJlc3VsdCA9IFtt
	b2NfIGV4ZWN1dGVGZXRjaFJlcXVlc3Q6ZmV0Y2hSZXF1ZXN0IGVycm9yOiZlcnJvcl07
	CglpZiAoZXJyb3JfKSAqZXJyb3JfID0gZXJyb3I7CglyZXR1cm4gcmVzdWx0Owp9Cjwk
	ZW5kaWYkPgo8JGVuZGZvcmVhY2ggZG8kPgo8JGlmIFRlbXBsYXRlVmFyLmZyYyQ+CiNp
	ZiBUQVJHRVRfT1NfSVBIT05FCjwkZm9yZWFjaCBSZWxhdGlvbnNoaXAgbm9uaW5oZXJp
	dGVkUmVsYXRpb25zaGlwcyBkbyQ+CjwkaWYgUmVsYXRpb25zaGlwLmlzVG9NYW55JD4K
	LSAoTlNGZXRjaGVkUmVzdWx0c0NvbnRyb2xsZXIqKW5ldzwkUmVsYXRpb25zaGlwLm5h
	bWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPkZldGNoZWRSZXN1bHRzQ29udHJvbGxlcldp
	dGhTb3J0RGVzY3JpcHRvcnM6KE5TQXJyYXkqKXNvcnREZXNjcmlwdG9ycyB7CglOU0Zl
	dGNoUmVxdWVzdCAqZmV0Y2hSZXF1ZXN0ID0gW05TRmV0Y2hSZXF1ZXN0IG5ld107Cgk8
	JGlmICFUZW1wbGF0ZVZhci5hcmMkPltmZXRjaFJlcXVlc3QgYXV0b3JlbGVhc2VdOzwk
	ZW5kaWYkPgoJZmV0Y2hSZXF1ZXN0LmVudGl0eSA9IFtOU0VudGl0eURlc2NyaXB0aW9u
	IGVudGl0eUZvck5hbWU6QCI8JFJlbGF0aW9uc2hpcC5kZXN0aW5hdGlvbkVudGl0eS5u
	YW1lJD4iIGluTWFuYWdlZE9iamVjdENvbnRleHQ6c2VsZi5tYW5hZ2VkT2JqZWN0Q29u
	dGV4dF07CglmZXRjaFJlcXVlc3QucHJlZGljYXRlID0gW05TUHJlZGljYXRlIHByZWRp
	Y2F0ZVdpdGhGb3JtYXQ6QCI8JFJlbGF0aW9uc2hpcC5pbnZlcnNlUmVsYXRpb25zaGlw
	Lm5hbWUkPiA8JGlmIFJlbGF0aW9uc2hpcC5pbnZlcnNlUmVsYXRpb25zaGlwLmlzVG9N
	YW55JD5DT05UQUlOUzwkZWxzZSQ+PT08JGVuZGlmJD4gJUAiLCBzZWxmXTsKCWZldGNo
	UmVxdWVzdC5zb3J0RGVzY3JpcHRvcnMgPSBzb3J0RGVzY3JpcHRvcnM7Cgk8JGlmIGlu
	ZGV4ZWROb25pbmhlcml0ZWRBdHRyaWJ1dGVzLkBjb3VudCA+IDAkPgoJTlNBcnJheSAq
	aW5kZXhlZElEcyA9IFtOU0FycmF5IGFycmF5V2l0aE9iamVjdHM6PCRmb3JlYWNoIEF0
	dHJpYnV0ZSBpbmRleGVkTm9uaW5oZXJpdGVkQXR0cmlidXRlcyBkbyQ+c2VsZi48JEF0
	dHJpYnV0ZS5uYW1lJD4sIDwkZW5kZm9yZWFjaCBkbyQ+bmlsXTsKCU5TU3RyaW5nICpj
	YWNoZU5hbWUgPSBbTlNTdHJpbmcgc3RyaW5nV2l0aEZvcm1hdDpAIm1vZ2VuZXJhdG9y
	LjwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+LiVALjwkUmVsYXRpb25zaGlwLm5hbWUk
	Pi4lQCIsIGluZGV4ZWRJRHMsIHNvcnREZXNjcmlwdG9yc107Cgk8JGVuZGlmJD4KCXJl
	dHVybiBbW05TRmV0Y2hlZFJlc3VsdHNDb250cm9sbGVyIGFsbG9jXSBpbml0V2l0aEZl
	dGNoUmVxdWVzdDpmZXRjaFJlcXVlc3QKCQkJCQkJCQkJCQkgICBtYW5hZ2VkT2JqZWN0
	Q29udGV4dDpzZWxmLm1hbmFnZWRPYmplY3RDb250ZXh0CgkJCQkJCQkJCQkJCSBzZWN0
	aW9uTmFtZUtleVBhdGg6bmlsCgkJCQkJCQkJCQkJCQkJICBjYWNoZU5hbWU6PCRpZiBp
	bmRleGVkTm9uaW5oZXJpdGVkQXR0cmlidXRlcy5AY291bnQgPiAwJD5jYWNoZU5hbWU8
	JGVsc2UkPm5pbDwkZW5kaWYkPl07Cn0KPCRlbmRpZiQ+CjwkZW5kZm9yZWFjaCBkbyQ+
	CiNlbmRpZgo8JGVuZGlmJD4KQGVuZAoKPCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25p
	bmhlcml0ZWRSZWxhdGlvbnNoaXBzIGRvJD48JGlmIFJlbGF0aW9uc2hpcC5pc1RvTWFu
	eSQ+PCRpZiBSZWxhdGlvbnNoaXAuanJfaXNPcmRlcmVkJD4KQGltcGxlbWVudGF0aW9u
	IF88JG1hbmFnZWRPYmplY3RDbGFzc05hbWUkPiAoPCRSZWxhdGlvbnNoaXAubmFtZS5p
	bml0aWFsQ2FwaXRhbFN0cmluZyQ+Q29yZURhdGFHZW5lcmF0ZWRBY2Nlc3NvcnMpCi0g
	KHZvaWQpYWRkPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+
	Oig8JFJlbGF0aW9uc2hpcC5pbW11dGFibGVDb2xsZWN0aW9uQ2xhc3NOYW1lJD4qKXZh
	bHVlXyB7Cglbc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD5TZXQgdW5pb25PcmRlcmVk
	U2V0OnZhbHVlX107Cn0KLSAodm9pZClyZW1vdmU8JFJlbGF0aW9uc2hpcC5uYW1lLmlu
	aXRpYWxDYXBpdGFsU3RyaW5nJD46KDwkUmVsYXRpb25zaGlwLmltbXV0YWJsZUNvbGxl
	Y3Rpb25DbGFzc05hbWUkPiopdmFsdWVfIHsKCVtzZWxmLjwkUmVsYXRpb25zaGlwLm5h
	bWUkPlNldCBtaW51c09yZGVyZWRTZXQ6dmFsdWVfXTsKfQotICh2b2lkKWFkZDwkUmVs
	YXRpb25zaGlwLm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPk9iamVjdDooPCRSZWxh
	dGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+
	Kil2YWx1ZV8gewoJW3NlbGYuPCRSZWxhdGlvbnNoaXAubmFtZSQ+U2V0IGFkZE9iamVj
	dDp2YWx1ZV9dOwp9Ci0gKHZvaWQpcmVtb3ZlPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0
	aWFsQ2FwaXRhbFN0cmluZyQ+T2JqZWN0Oig8JFJlbGF0aW9uc2hpcC5kZXN0aW5hdGlv
	bkVudGl0eS5tYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4qKXZhbHVlXyB7Cglbc2VsZi48
	JFJlbGF0aW9uc2hpcC5uYW1lJD5TZXQgcmVtb3ZlT2JqZWN0OnZhbHVlX107Cn0KLSAo
	dm9pZClpbnNlcnRPYmplY3Q6KDwkUmVsYXRpb25zaGlwLmRlc3RpbmF0aW9uRW50aXR5
	Lm1hbmFnZWRPYmplY3RDbGFzc05hbWUkPiopdmFsdWUgaW48JFJlbGF0aW9uc2hpcC5u
	YW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD5BdEluZGV4OihOU1VJbnRlZ2VyKWlkeCB7
	CiAgICBOU0luZGV4U2V0KiBpbmRleGVzID0gW05TSW5kZXhTZXQgaW5kZXhTZXRXaXRo
	SW5kZXg6aWR4XTsKICAgIFtzZWxmIHdpbGxDaGFuZ2U6TlNLZXlWYWx1ZUNoYW5nZUlu
	c2VydGlvbiB2YWx1ZXNBdEluZGV4ZXM6aW5kZXhlcyBmb3JLZXk6QCI8JFJlbGF0aW9u
	c2hpcC5uYW1lJD4iXTsKICAgIE5TTXV0YWJsZU9yZGVyZWRTZXQgKnRtcE9yZGVyZWRT
	ZXQgPSBbTlNNdXRhYmxlT3JkZXJlZFNldCBvcmRlcmVkU2V0V2l0aE9yZGVyZWRTZXQ6
	W3NlbGYgPCRSZWxhdGlvbnNoaXAubmFtZSQ+XV07CiAgICBbdG1wT3JkZXJlZFNldCBp
	bnNlcnRPYmplY3Q6dmFsdWUgYXRJbmRleDppZHhdOwogICAgW3NlbGYgc2V0UHJpbWl0
	aXZlVmFsdWU6dG1wT3JkZXJlZFNldCBmb3JLZXk6QCI8JFJlbGF0aW9uc2hpcC5uYW1l
	JD4iXTsKICAgIFtzZWxmIGRpZENoYW5nZTpOU0tleVZhbHVlQ2hhbmdlSW5zZXJ0aW9u
	IHZhbHVlc0F0SW5kZXhlczppbmRleGVzIGZvcktleTpAIjwkUmVsYXRpb25zaGlwLm5h
	bWUkPiJdOwp9Ci0gKHZvaWQpcmVtb3ZlT2JqZWN0RnJvbTwkUmVsYXRpb25zaGlwLm5h
	bWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPkF0SW5kZXg6KE5TVUludGVnZXIpaWR4IHsK
	ICAgIE5TSW5kZXhTZXQqIGluZGV4ZXMgPSBbTlNJbmRleFNldCBpbmRleFNldFdpdGhJ
	bmRleDppZHhdOwogICAgW3NlbGYgd2lsbENoYW5nZTpOU0tleVZhbHVlQ2hhbmdlUmVt
	b3ZhbCB2YWx1ZXNBdEluZGV4ZXM6aW5kZXhlcyBmb3JLZXk6QCI8JFJlbGF0aW9uc2hp
	cC5uYW1lJD4iXTsKICAgIE5TTXV0YWJsZU9yZGVyZWRTZXQgKnRtcE9yZGVyZWRTZXQg
	PSBbTlNNdXRhYmxlT3JkZXJlZFNldCBvcmRlcmVkU2V0V2l0aE9yZGVyZWRTZXQ6W3Nl
	bGYgPCRSZWxhdGlvbnNoaXAubmFtZSQ+XV07CiAgICBbdG1wT3JkZXJlZFNldCByZW1v
	dmVPYmplY3RBdEluZGV4OmlkeF07CiAgICBbc2VsZiBzZXRQcmltaXRpdmVWYWx1ZTp0
	bXBPcmRlcmVkU2V0IGZvcktleTpAIjwkUmVsYXRpb25zaGlwLm5hbWUkPiJdOwogICAg
	W3NlbGYgZGlkQ2hhbmdlOk5TS2V5VmFsdWVDaGFuZ2VSZW1vdmFsIHZhbHVlc0F0SW5k
	ZXhlczppbmRleGVzIGZvcktleTpAIjwkUmVsYXRpb25zaGlwLm5hbWUkPiJdOwp9Ci0g
	KHZvaWQpaW5zZXJ0PCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmlu
	ZyQ+OihOU0FycmF5ICopdmFsdWUgYXRJbmRleGVzOihOU0luZGV4U2V0ICopaW5kZXhl
	cyB7CiAgICBbc2VsZiB3aWxsQ2hhbmdlOk5TS2V5VmFsdWVDaGFuZ2VJbnNlcnRpb24g
	dmFsdWVzQXRJbmRleGVzOmluZGV4ZXMgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFt
	ZSQ+Il07CiAgICBOU011dGFibGVPcmRlcmVkU2V0ICp0bXBPcmRlcmVkU2V0ID0gW05T
	TXV0YWJsZU9yZGVyZWRTZXQgb3JkZXJlZFNldFdpdGhPcmRlcmVkU2V0OltzZWxmIDwk
	UmVsYXRpb25zaGlwLm5hbWUkPl1dOwogICAgW3RtcE9yZGVyZWRTZXQgaW5zZXJ0T2Jq
	ZWN0czp2YWx1ZSBhdEluZGV4ZXM6aW5kZXhlc107CiAgICBbc2VsZiBzZXRQcmltaXRp
	dmVWYWx1ZTp0bXBPcmRlcmVkU2V0IGZvcktleTpAIjwkUmVsYXRpb25zaGlwLm5hbWUk
	PiJdOwogICAgW3NlbGYgZGlkQ2hhbmdlOk5TS2V5VmFsdWVDaGFuZ2VJbnNlcnRpb24g
	dmFsdWVzQXRJbmRleGVzOmluZGV4ZXMgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFt
	ZSQ+Il07Cn0KLSAodm9pZClyZW1vdmU8JFJlbGF0aW9uc2hpcC5uYW1lLmluaXRpYWxD
	YXBpdGFsU3RyaW5nJD5BdEluZGV4ZXM6KE5TSW5kZXhTZXQgKilpbmRleGVzIHsKICAg
	IFtzZWxmIHdpbGxDaGFuZ2U6TlNLZXlWYWx1ZUNoYW5nZVJlbW92YWwgdmFsdWVzQXRJ
	bmRleGVzOmluZGV4ZXMgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFtZSQ+Il07CiAg
	ICBOU011dGFibGVPcmRlcmVkU2V0ICp0bXBPcmRlcmVkU2V0ID0gW05TTXV0YWJsZU9y
	ZGVyZWRTZXQgb3JkZXJlZFNldFdpdGhPcmRlcmVkU2V0OltzZWxmIDwkUmVsYXRpb25z
	aGlwLm5hbWUkPl1dOwogICAgW3RtcE9yZGVyZWRTZXQgcmVtb3ZlT2JqZWN0c0F0SW5k
	ZXhlczppbmRleGVzXTsKICAgIFtzZWxmIHNldFByaW1pdGl2ZVZhbHVlOnRtcE9yZGVy
	ZWRTZXQgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFtZSQ+Il07CiAgICBbc2VsZiBk
	aWRDaGFuZ2U6TlNLZXlWYWx1ZUNoYW5nZVJlbW92YWwgdmFsdWVzQXRJbmRleGVzOmlu
	ZGV4ZXMgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFtZSQ+Il07Cn0KLSAodm9pZCly
	ZXBsYWNlT2JqZWN0SW48JFJlbGF0aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3Ry
	aW5nJD5BdEluZGV4OihOU1VJbnRlZ2VyKWlkeCB3aXRoT2JqZWN0Oig8JFJlbGF0aW9u
	c2hpcC5kZXN0aW5hdGlvbkVudGl0eS5tYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4qKXZh
	bHVlIHsKICAgIE5TSW5kZXhTZXQqIGluZGV4ZXMgPSBbTlNJbmRleFNldCBpbmRleFNl
	dFdpdGhJbmRleDppZHhdOwogICAgW3NlbGYgd2lsbENoYW5nZTpOU0tleVZhbHVlQ2hh
	bmdlUmVwbGFjZW1lbnQgdmFsdWVzQXRJbmRleGVzOmluZGV4ZXMgZm9yS2V5OkAiPCRS
	ZWxhdGlvbnNoaXAubmFtZSQ+Il07CiAgICBOU011dGFibGVPcmRlcmVkU2V0ICp0bXBP
	cmRlcmVkU2V0ID0gW05TTXV0YWJsZU9yZGVyZWRTZXQgb3JkZXJlZFNldFdpdGhPcmRl
	cmVkU2V0OltzZWxmIDwkUmVsYXRpb25zaGlwLm5hbWUkPl1dOwogICAgW3RtcE9yZGVy
	ZWRTZXQgcmVwbGFjZU9iamVjdEF0SW5kZXg6aWR4IHdpdGhPYmplY3Q6dmFsdWVdOwog
	ICAgW3NlbGYgc2V0UHJpbWl0aXZlVmFsdWU6dG1wT3JkZXJlZFNldCBmb3JLZXk6QCI8
	JFJlbGF0aW9uc2hpcC5uYW1lJD4iXTsKICAgIFtzZWxmIGRpZENoYW5nZTpOU0tleVZh
	bHVlQ2hhbmdlUmVwbGFjZW1lbnQgdmFsdWVzQXRJbmRleGVzOmluZGV4ZXMgZm9yS2V5
	OkAiPCRSZWxhdGlvbnNoaXAubmFtZSQ+Il07Cn0KLSAodm9pZClyZXBsYWNlPCRSZWxh
	dGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+QXRJbmRleGVzOihOU0lu
	ZGV4U2V0ICopaW5kZXhlcyB3aXRoPCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2Fw
	aXRhbFN0cmluZyQ+OihOU0FycmF5ICopdmFsdWUgewogICAgW3NlbGYgd2lsbENoYW5n
	ZTpOU0tleVZhbHVlQ2hhbmdlUmVwbGFjZW1lbnQgdmFsdWVzQXRJbmRleGVzOmluZGV4
	ZXMgZm9yS2V5OkAiPCRSZWxhdGlvbnNoaXAubmFtZSQ+Il07CiAgICBOU011dGFibGVP
	cmRlcmVkU2V0ICp0bXBPcmRlcmVkU2V0ID0gW05TTXV0YWJsZU9yZGVyZWRTZXQgb3Jk
	ZXJlZFNldFdpdGhPcmRlcmVkU2V0OltzZWxmIDwkUmVsYXRpb25zaGlwLm5hbWUkPl1d
	OwogICAgW3RtcE9yZGVyZWRTZXQgcmVwbGFjZU9iamVjdHNBdEluZGV4ZXM6aW5kZXhl
	cyB3aXRoT2JqZWN0czp2YWx1ZV07CiAgICBbc2VsZiBzZXRQcmltaXRpdmVWYWx1ZTp0
	bXBPcmRlcmVkU2V0IGZvcktleTpAIjwkUmVsYXRpb25zaGlwLm5hbWUkPiJdOwogICAg
	W3NlbGYgZGlkQ2hhbmdlOk5TS2V5VmFsdWVDaGFuZ2VSZXBsYWNlbWVudCB2YWx1ZXNB
	dEluZGV4ZXM6aW5kZXhlcyBmb3JLZXk6QCI8JFJlbGF0aW9uc2hpcC5uYW1lJD4iXTsK
	fQpAZW5kCjwkZW5kaWYkPjwkZW5kaWYkPjwkZW5kZm9yZWFjaCBkbyQ+CgoK
	</data>
	<key>machine.swift.motemplate</key>
	<data>
	Ly8gRE8gTk9UIEVESVQuIFRoaXMgZmlsZSBpcyBtYWNoaW5lLWdlbmVyYXRlZCBhbmQg
	Y29uc3RhbnRseSBvdmVyd3JpdHRlbi4KLy8gTWFrZSBjaGFuZ2VzIHRvIDwkbWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+LnN3aWZ0IGluc3RlYWQuCgppbXBvcnQgQ29yZURhdGEK
	PCRpZiBoYXNBZGRpdGlvbmFsSGVhZGVyRmlsZSQ+aW1wb3J0IDwkYWRkaXRpb25hbEhl
	YWRlckZpbGVOYW1lJD48JGVuZGlmJD4KPCRpZiBoYXNDdXN0b21CYXNlQ2FzZUltcG9y
	dCQ+aW1wb3J0IDwkYmFzZUNsYXNzSW1wb3J0JD48JGVuZGlmJD4KCjwkaWYgbm9uaW5o
	ZXJpdGVkQXR0cmlidXRlcy5AY291bnQgPiAwJD4KcHVibGljIGVudW0gPCRtYW5hZ2Vk
	T2JqZWN0Q2xhc3NOYW1lJD5BdHRyaWJ1dGVzOiBTdHJpbmcgezwkZm9yZWFjaCBBdHRy
	aWJ1dGUgbm9uaW5oZXJpdGVkQXR0cmlidXRlcyBkbyQ+CiAgICBjYXNlIDwkQXR0cmli
	dXRlLm5hbWUkPiA9ICI8JEF0dHJpYnV0ZS5uYW1lJD4iPCRlbmRmb3JlYWNoIGRvJD4K
	fQo8JGVuZGlmJD4KCjwkaWYgbm9uaW5oZXJpdGVkUmVsYXRpb25zaGlwcy5AY291bnQg
	PiAwJD4KcHVibGljIGVudW0gPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5SZWxhdGlv
	bnNoaXBzOiBTdHJpbmcgezwkZm9yZWFjaCBSZWxhdGlvbnNoaXAgbm9uaW5oZXJpdGVk
	UmVsYXRpb25zaGlwcyBkbyQ+CiAgICBjYXNlIDwkUmVsYXRpb25zaGlwLm5hbWUkPiA9
	ICI8JFJlbGF0aW9uc2hpcC5uYW1lJD4iPCRlbmRmb3JlYWNoIGRvJD4KfQo8JGVuZGlm
	JD4KCjwkaWYgbm9uaW5oZXJpdGVkRmV0Y2hlZFByb3BlcnRpZXMuQGNvdW50ID4gMCQ+
	CnB1YmxpYyBlbnVtIDwkbWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+RmV0Y2hlZFByb3Bl
	cnRpZXM6IFN0cmluZyB7PCRmb3JlYWNoIEZldGNoZWRQcm9wZXJ0eSBub25pbmhlcml0
	ZWRGZXRjaGVkUHJvcGVydGllcyBkbyQ+CiAgICBjYXNlIDwkRmV0Y2hlZFByb3BlcnR5
	Lm5hbWUkPiA9ICI8JEZldGNoZWRQcm9wZXJ0eS5uYW1lJD4iPCRlbmRmb3JlYWNoIGRv
	JD4KfQo8JGVuZGlmJD4KCjwkaWYgaGFzVXNlckluZm9LZXlzJD4KcHVibGljIGVudW0g
	PCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5Vc2VySW5mbzogU3RyaW5nIHs8JGZvcmVh
	Y2ggVXNlckluZm8gdXNlckluZm9LZXlWYWx1ZXMgZG8kPgogICAgY2FzZSA8JFVzZXJJ
	bmZvLmtleSQ+ID0gIjwkVXNlckluZm8ua2V5JD4iPCRlbmRmb3JlYWNoIGRvJD4KfQo8
	JGVuZGlmJD4KCkBvYmpjIHB1YmxpYwpjbGFzcyBfPCRtYW5hZ2VkT2JqZWN0Q2xhc3NO
	YW1lJD46IDwkY3VzdG9tU3VwZXJlbnRpdHkkPiB7CgogICAgLy8gTUFSSzogLSBDbGFz
	cyBtZXRob2RzCiAgICAKICAgIDwkaWYgKGhhc0N1c3RvbVN1cGVyY2xhc3MgfHwgKGhh
	c0N1c3RvbVN1cGVyZW50aXR5ICYmIFRlbXBsYXRlVmFyLm92ZXJyaWRlQmFzZUNsYXNz
	KSkkPm92ZXJyaWRlIDwkZW5kaWYkPnB1YmxpYyBjbGFzcyBmdW5jIGVudGl0eU5hbWUg
	KCkgLT4gU3RyaW5nIHsKICAgICAgICByZXR1cm4gIjwkbmFtZSQ+IgogICAgfQoKICAg
	IDwkaWYgKGhhc0N1c3RvbVN1cGVyY2xhc3MgfHwgKGhhc0N1c3RvbVN1cGVyZW50aXR5
	ICYmIFRlbXBsYXRlVmFyLm92ZXJyaWRlQmFzZUNsYXNzKSkkPm92ZXJyaWRlIDwkZW5k
	aWYkPnB1YmxpYyBjbGFzcyBmdW5jIGVudGl0eShtYW5hZ2VkT2JqZWN0Q29udGV4dDog
	TlNNYW5hZ2VkT2JqZWN0Q29udGV4dCEpIC0+IE5TRW50aXR5RGVzY3JpcHRpb24hIHsK
	ICAgICAgICByZXR1cm4gTlNFbnRpdHlEZXNjcmlwdGlvbi5lbnRpdHlGb3JOYW1lKHNl
	bGYuZW50aXR5TmFtZSgpLCBpbk1hbmFnZWRPYmplY3RDb250ZXh0OiBtYW5hZ2VkT2Jq
	ZWN0Q29udGV4dCk7CiAgICB9CgogICAgLy8gTUFSSzogLSBMaWZlIGN5Y2xlIG1ldGhv
	ZHMKCiAgICBwdWJsaWMgb3ZlcnJpZGUgaW5pdChlbnRpdHk6IE5TRW50aXR5RGVzY3Jp
	cHRpb24sIGluc2VydEludG9NYW5hZ2VkT2JqZWN0Q29udGV4dCBjb250ZXh0OiBOU01h
	bmFnZWRPYmplY3RDb250ZXh0ISkgewogICAgICAgIHN1cGVyLmluaXQoZW50aXR5OiBl
	bnRpdHksIGluc2VydEludG9NYW5hZ2VkT2JqZWN0Q29udGV4dDogY29udGV4dCkKICAg
	IH0KICAgIAogICAgcHVibGljIGNvbnZlbmllbmNlIGluaXQobWFuYWdlZE9iamVjdENv
	bnRleHQ6IE5TTWFuYWdlZE9iamVjdENvbnRleHQhKSB7CiAgICAgICAgbGV0IGVudGl0
	eSA9IF88JG1hbmFnZWRPYmplY3RDbGFzc05hbWUkPi5lbnRpdHkobWFuYWdlZE9iamVj
	dENvbnRleHQpCiAgICAgICAgc2VsZi5pbml0KGVudGl0eTogZW50aXR5LCBpbnNlcnRJ
	bnRvTWFuYWdlZE9iamVjdENvbnRleHQ6IG1hbmFnZWRPYmplY3RDb250ZXh0KQogICAg
	fQoKICAgIC8vIE1BUks6IC0gUHJvcGVydGllcwo8JGZvcmVhY2ggQXR0cmlidXRlIG5v
	bmluaGVyaXRlZEF0dHJpYnV0ZXMgZG8kPgo8JGlmIEF0dHJpYnV0ZS5oYXNEZWZpbmVk
	QXR0cmlidXRlVHlwZSQ+CjwkaWYgQXR0cmlidXRlLmhhc1NjYWxhckF0dHJpYnV0ZVR5
	cGUkPgo8JGlmIEF0dHJpYnV0ZS5pc1JlYWRvbmx5JD4KICAgIHB1YmxpYyB2YXIgPCRB
	dHRyaWJ1dGUubmFtZSQ+OiBOU051bWJlcj8KICAgIHsKICAgICAgICBzZWxmLndpbGxB
	Y2Nlc3NWYWx1ZUZvcktleSg8JG1hbmFnZWRPYmplY3RDbGFzc05hbWUkPkF0dHJpYnV0
	ZXMuPCRBdHRyaWJ1dGUubmFtZSQ+LnJhd1ZhbHVlKQogICAgICAgIGxldCA8JEF0dHJp
	YnV0ZS5uYW1lJD4gPSBzZWxmLnByaW1pdGl2ZVZhbHVlRm9yS2V5KDwkbWFuYWdlZE9i
	amVjdENsYXNzTmFtZSQ+QXR0cmlidXRlcy48JEF0dHJpYnV0ZS5uYW1lJD4ucmF3VmFs
	dWUpIGFzPyBOU051bWJlcgogICAgICAgIHNlbGYuZGlkQWNjZXNzVmFsdWVGb3JLZXko
	PCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5BdHRyaWJ1dGVzLjwkQXR0cmlidXRlLm5h
	bWUkPi5yYXdWYWx1ZSkKICAgICAgICByZXR1cm4gPCRBdHRyaWJ1dGUubmFtZSQ+CiAg
	ICB9CjwkZWxzZSQ+CiAgICBATlNNYW5hZ2VkIHB1YmxpYwogICAgdmFyIDwkQXR0cmli
	dXRlLm5hbWUkPjogTlNOdW1iZXI/CjwkZW5kaWYkPgo8JGVsc2UkPgo8JGlmIEF0dHJp
	YnV0ZS5pc1JlYWRvbmx5JD4KICAgIHB1YmxpYyB2YXIgPCRBdHRyaWJ1dGUubmFtZSQ+
	OiA8JEF0dHJpYnV0ZS5vYmplY3RBdHRyaWJ1dGVUeXBlJD48JGlmIEF0dHJpYnV0ZS5p
	c09wdGlvbmFsJD4/PCRlbmRpZiQ+CiAgICB7CiAgICAgICAgc2VsZi53aWxsQWNjZXNz
	VmFsdWVGb3JLZXkoPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD5BdHRyaWJ1dGVzLjwk
	QXR0cmlidXRlLm5hbWUkPi5yYXdWYWx1ZSkKICAgICAgICBsZXQgPCRBdHRyaWJ1dGUu
	bmFtZSQ+ID0gc2VsZi5wcmltaXRpdmVWYWx1ZUZvcktleSg8JG1hbmFnZWRPYmplY3RD
	bGFzc05hbWUkPkF0dHJpYnV0ZXMuPCRBdHRyaWJ1dGUubmFtZSQ+LnJhd1ZhbHVlKSBh
	cz8gPCRBdHRyaWJ1dGUub2JqZWN0QXR0cmlidXRlVHlwZSQ+CiAgICAgICAgc2VsZi5k
	aWRBY2Nlc3NWYWx1ZUZvcktleSg8JG1hbmFnZWRPYmplY3RDbGFzc05hbWUkPkF0dHJp
	YnV0ZXMuPCRBdHRyaWJ1dGUubmFtZSQ+LnJhd1ZhbHVlKQogICAgICAgIHJldHVybiA8
	JEF0dHJpYnV0ZS5uYW1lJD4KICAgIH0KPCRlbHNlJD4KICAgIEBOU01hbmFnZWQgcHVi
	bGljCiAgICB2YXIgPCRBdHRyaWJ1dGUubmFtZSQ+OiA8JEF0dHJpYnV0ZS5vYmplY3RB
	dHRyaWJ1dGVUeXBlJD48JGlmIEF0dHJpYnV0ZS5pc09wdGlvbmFsJD4/PCRlbmRpZiQ+
	CjwkZW5kaWYkPgo8JGVuZGlmJD4KICAgIC8vIGZ1bmMgdmFsaWRhdGU8JEF0dHJpYnV0
	ZS5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD4odmFsdWU6IEF1dG9yZWxlYXNpbmdV
	bnNhZmVNdXRhYmxlUG9pbnRlcjxBbnlPYmplY3Q+LCBlcnJvcjogTlNFcnJvclBvaW50
	ZXIpIC0+IEJvb2wge30KPCRlbmRpZiQ+CjwkZW5kZm9yZWFjaCBkbyQ+CgogICAgLy8g
	TUFSSzogLSBSZWxhdGlvbnNoaXBzCjwkZm9yZWFjaCBSZWxhdGlvbnNoaXAgbm9uaW5o
	ZXJpdGVkUmVsYXRpb25zaGlwcyBkbyQ+CjwkaWYgUmVsYXRpb25zaGlwLmlzVG9NYW55
	JD4KICAgIEBOU01hbmFnZWQgcHVibGljCiAgICB2YXIgPCRSZWxhdGlvbnNoaXAubmFt
	ZSQ+OiA8JFJlbGF0aW9uc2hpcC5pbW11dGFibGVDb2xsZWN0aW9uQ2xhc3NOYW1lJD4K
	CjwkZWxzZSQ+CiAgICBATlNNYW5hZ2VkIHB1YmxpYwogICAgdmFyIDwkUmVsYXRpb25z
	aGlwLm5hbWUkPjogPCRSZWxhdGlvbnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdl
	ZE9iamVjdENsYXNzTmFtZSQ+PCRpZiBSZWxhdGlvbnNoaXAuaXNPcHRpb25hbCQ+Pzwk
	ZW5kaWYkPgoKICAgIC8vIGZ1bmMgdmFsaWRhdGU8JFJlbGF0aW9uc2hpcC5uYW1lLmlu
	aXRpYWxDYXBpdGFsU3RyaW5nJD4odmFsdWU6IEF1dG9yZWxlYXNpbmdVbnNhZmVNdXRh
	YmxlUG9pbnRlcjxBbnlPYmplY3Q+LCBlcnJvcjogTlNFcnJvclBvaW50ZXIpIC0+IEJv
	b2wge30KPCRlbmRpZiQ+CjwkZW5kZm9yZWFjaCBkbyQ+Cgo8JGZvcmVhY2ggRmV0Y2hS
	ZXF1ZXN0IHByZXR0eUZldGNoUmVxdWVzdHMgZG8kPgo8JGlmIEZldGNoUmVxdWVzdC5z
	aW5nbGVSZXN1bHQkPgogICAgY2xhc3MgZnVuYyBmZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5h
	bWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPihtYW5hZ2VkT2JqZWN0Q29udGV4dDogTlNN
	YW5hZ2VkT2JqZWN0Q29udGV4dCE8JGZvcmVhY2ggQmluZGluZyBGZXRjaFJlcXVlc3Qu
	YmluZGluZ3MgZG8yJD4sIDwkQmluZGluZy5uYW1lJD46IDwkQmluZGluZy50eXBlJD48
	JGVuZGZvcmVhY2ggZG8yJD4pIC0+IEFueU9iamVjdD8gewogICAgICAgIHJldHVybiBz
	ZWxmLmZldGNoPCRGZXRjaFJlcXVlc3QubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+
	KG1hbmFnZWRPYmplY3RDb250ZXh0PCRmb3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0
	LmJpbmRpbmdzIGRvMiQ+LCA8JEJpbmRpbmcubmFtZSQ+OiA8JEJpbmRpbmcubmFtZSQ+
	PCRlbmRmb3JlYWNoIGRvMiQ+LCBlcnJvcjogbmlsKQogICAgfQoKICAgIGNsYXNzIGZ1
	bmMgZmV0Y2g8JEZldGNoUmVxdWVzdC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD4o
	bWFuYWdlZE9iamVjdENvbnRleHQ6IE5TTWFuYWdlZE9iamVjdENvbnRleHQhPCRmb3Jl
	YWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0LmJpbmRpbmdzIGRvMiQ+LCA8JEJpbmRpbmcu
	bmFtZSQ+OiA8JEJpbmRpbmcudHlwZSQ+PCRlbmRmb3JlYWNoIGRvMiQ+LCBlcnJvciBv
	dXRFcnJvcjogTlNFcnJvclBvaW50ZXIpIC0+IEFueU9iamVjdD8gewogICAgICAgIGxl
	dCBtb2RlbCA9IG1hbmFnZWRPYmplY3RDb250ZXh0LnBlcnNpc3RlbnRTdG9yZUNvb3Jk
	aW5hdG9yIS5tYW5hZ2VkT2JqZWN0TW9kZWwKICAgICAgICBsZXQgc3Vic3RpdHV0aW9u
	VmFyaWFibGVzID0gWzwkaWYgRmV0Y2hSZXF1ZXN0Lmhhc0JpbmRpbmdzJD48JGZvcmVh
	Y2ggQmluZGluZyBGZXRjaFJlcXVlc3QuYmluZGluZ3MgZG8yJD4KICAgICAgICAgICAg
	IjwkQmluZGluZy5uYW1lJD4iOiA8JEJpbmRpbmcubmFtZSQ+LAo8JGVuZGZvcmVhY2gg
	ZG8yJD48JGVuZGlmJD4gICAgICAgIF0KCiAgICAgICAgbGV0IGZldGNoUmVxdWVzdCA9
	IG1vZGVsLmZldGNoUmVxdWVzdEZyb21UZW1wbGF0ZVdpdGhOYW1lKCI8JEZldGNoUmVx
	dWVzdC5uYW1lJD4iLCBzdWJzdGl0dXRpb25WYXJpYWJsZXM6IHN1YnN0aXR1dGlvblZh
	cmlhYmxlcykKICAgICAgICBhc3NlcnQoZmV0Y2hSZXF1ZXN0ICE9IG5pbCwgIkNhbid0
	IGZpbmQgZmV0Y2ggcmVxdWVzdCBuYW1lZCBcIjwkRmV0Y2hSZXF1ZXN0Lm5hbWUkPlwi
	LiIpCgogICAgICAgIHZhciBlcnJvcjogTlNFcnJvcj8gPSBuaWwKICAgICAgICB2YXIg
	cmVzdWx0OiBBbnlPYmplY3Q/ID0gbmlsCiAgICAgICAgbGV0IHJlc3VsdHMgPSBtYW5h
	Z2VkT2JqZWN0Q29udGV4dC5leGVjdXRlRmV0Y2hSZXF1ZXN0KGZldGNoUmVxdWVzdCEs
	IGVycm9yOiAmZXJyb3IpCgogICAgICAgIGlmIGVycm9yICE9IG5pbCB7CiAgICAgICAg
	ICAgIG91dEVycm9yLm1lbW9yeSA9IGVycm9yCiAgICAgICAgfSBlbHNlIHsKICAgICAg
	ICAgICAgc3dpdGNoIHJlc3VsdHMhLmNvdW50IHsKICAgICAgICAgICAgY2FzZSAwOgog
	ICAgICAgICAgICAgICAgLy8gTm90aGluZyBmb3VuZCBtYXRjaGluZyB0aGUgZmV0Y2gg
	cmVxdWVzdC4gVGhhdCdzIGNvb2wsIHRob3VnaDogd2UnbGwganVzdCByZXR1cm4gbmls
	LgogICAgICAgICAgICAgICAgYnJlYWsKICAgICAgICAgICAgY2FzZSAxOgogICAgICAg
	ICAgICAgICAgcmVzdWx0ID0gcmVzdWx0cyFbMF0KICAgICAgICAgICAgZGVmYXVsdDoK
	ICAgICAgICAgICAgICAgIE5TTG9nKCJXQVJOIGZldGNoIHJlcXVlc3QgPCRGZXRjaFJl
	cXVlc3QubmFtZSQ+OiAwIG9yIDEgb2JqZWN0cyBleHBlY3RlZCwgJWx1IGZvdW5kIChz
	dWJzdGl0dXRpb25WYXJpYWJsZXM6JUAsIHJlc3VsdHM6JUApIiwKICAgICAgICAgICAg
	ICAgICAgICByZXN1bHRzIS5jb3VudCwKICAgICAgICAgICAgICAgICAgICBzdWJzdGl0
	dXRpb25WYXJpYWJsZXMsCiAgICAgICAgICAgICAgICAgICAgcmVzdWx0cyEpOwogICAg
	ICAgICAgICB9CiAgICAgICAgfQoKICAgICAgICByZXR1cm4gcmVzdWx0OwogICAgfQo8
	JGVsc2UkPgogICAgY2xhc3MgZnVuYyBmZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5hbWUuaW5p
	dGlhbENhcGl0YWxTdHJpbmckPihtYW5hZ2VkT2JqZWN0Q29udGV4dDogTlNNYW5hZ2Vk
	T2JqZWN0Q29udGV4dCE8JGZvcmVhY2ggQmluZGluZyBGZXRjaFJlcXVlc3QuYmluZGlu
	Z3MgZG8yJD4sIDwkQmluZGluZy5uYW1lJD46IDwkQmluZGluZy50eXBlJD48JGVuZGZv
	cmVhY2ggZG8yJD4pIC0+IFtBbnlPYmplY3RdIHsKICAgICAgICByZXR1cm4gc2VsZi5m
	ZXRjaDwkRmV0Y2hSZXF1ZXN0Lm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPihtYW5h
	Z2VkT2JqZWN0Q29udGV4dDwkZm9yZWFjaCBCaW5kaW5nIEZldGNoUmVxdWVzdC5iaW5k
	aW5ncyBkbzIkPiwgPCRCaW5kaW5nLm5hbWUkPjogPCRCaW5kaW5nLm5hbWUkPjwkZW5k
	Zm9yZWFjaCBkbzIkPiwgZXJyb3I6IG5pbCkKICAgIH0KCiAgICBjbGFzcyBmdW5jIGZl
	dGNoPCRGZXRjaFJlcXVlc3QubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+KG1hbmFn
	ZWRPYmplY3RDb250ZXh0OiBOU01hbmFnZWRPYmplY3RDb250ZXh0ITwkZm9yZWFjaCBC
	aW5kaW5nIEZldGNoUmVxdWVzdC5iaW5kaW5ncyBkbzIkPiwgPCRCaW5kaW5nLm5hbWUk
	PjogPCRCaW5kaW5nLnR5cGUkPjwkZW5kZm9yZWFjaCBkbzIkPiwgZXJyb3Igb3V0RXJy
	b3I6IE5TRXJyb3JQb2ludGVyKSAtPiBbQW55T2JqZWN0XSEgewogICAgICAgIGxldCBt
	b2RlbCA9IG1hbmFnZWRPYmplY3RDb250ZXh0LnBlcnNpc3RlbnRTdG9yZUNvb3JkaW5h
	dG9yIS5tYW5hZ2VkT2JqZWN0TW9kZWwKICAgICAgICBsZXQgc3Vic3RpdHV0aW9uVmFy
	aWFibGVzIDogW05TT2JqZWN0IDogQW55T2JqZWN0XSA9IFs8JGlmIEZldGNoUmVxdWVz
	dC5oYXNCaW5kaW5ncyQ+PCRmb3JlYWNoIEJpbmRpbmcgRmV0Y2hSZXF1ZXN0LmJpbmRp
	bmdzIGRvMiQ+CiAgICAgICAgICAgICI8JEJpbmRpbmcubmFtZSQ+IjogPCRCaW5kaW5n
	Lm5hbWUkPiwKPCRlbmRmb3JlYWNoIGRvMiQ+PCRlbHNlJD46PCRlbmRpZiQ+XQoKICAg
	ICAgICBsZXQgZmV0Y2hSZXF1ZXN0ID0gbW9kZWwuZmV0Y2hSZXF1ZXN0RnJvbVRlbXBs
	YXRlV2l0aE5hbWUoIjwkRmV0Y2hSZXF1ZXN0Lm5hbWUkPiIsIHN1YnN0aXR1dGlvblZh
	cmlhYmxlczogc3Vic3RpdHV0aW9uVmFyaWFibGVzKQogICAgICAgIGFzc2VydChmZXRj
	aFJlcXVlc3QgIT0gbmlsLCAiQ2FuJ3QgZmluZCBmZXRjaCByZXF1ZXN0IG5hbWVkIFwi
	PCRGZXRjaFJlcXVlc3QubmFtZSQ+XCIuIikKCiAgICAgICAgdmFyIGVycm9yOiBOU0Vy
	cm9yPyA9IG5pbAogICAgICAgIGxldCByZXN1bHRzID0gbWFuYWdlZE9iamVjdENvbnRl
	eHQuZXhlY3V0ZUZldGNoUmVxdWVzdChmZXRjaFJlcXVlc3QhLCBlcnJvcjogJmVycm9y
	KQoKICAgICAgICBpZiBlcnJvciAhPSBuaWwgewogICAgICAgICAgICBvdXRFcnJvci5t
	ZW1vcnkgPSBlcnJvcgogICAgICAgIH0KCiAgICAgICAgcmV0dXJuIHJlc3VsdHMKICAg
	IH0KPCRlbmRpZiQ+CjwkZW5kZm9yZWFjaCBkbyQ+Cgo8JGZvcmVhY2ggRmV0Y2hlZFBy
	b3BlcnR5IG5vbmluaGVyaXRlZEZldGNoZWRQcm9wZXJ0aWVzIGRvJD4KICAgIEBOU01h
	bmFnZWQgcHVibGljCiAgICBsZXQgPCRGZXRjaGVkUHJvcGVydHkubmFtZSQ+OiBbPCRG
	ZXRjaGVkUHJvcGVydHkuZW50aXR5Lm1hbmFnZWRPYmplY3RDbGFzc05hbWUkPl0KPCRl
	bmRmb3JlYWNoIGRvJD4KfQoKPCRmb3JlYWNoIFJlbGF0aW9uc2hpcCBub25pbmhlcml0
	ZWRSZWxhdGlvbnNoaXBzIGRvJD48JGlmIFJlbGF0aW9uc2hpcC5pc1RvTWFueSQ+CmV4
	dGVuc2lvbiBfPCRtYW5hZ2VkT2JqZWN0Q2xhc3NOYW1lJD4gewoKICAgIGZ1bmMgYWRk
	PCRSZWxhdGlvbnNoaXAubmFtZS5pbml0aWFsQ2FwaXRhbFN0cmluZyQ+KG9iamVjdHM6
	IDwkUmVsYXRpb25zaGlwLmltbXV0YWJsZUNvbGxlY3Rpb25DbGFzc05hbWUkPikgewog
	ICAgICAgIGxldCBtdXRhYmxlID0gc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4ubXV0
	YWJsZUNvcHkoKSBhcyEgTlNNdXRhYmxlPCRpZiBSZWxhdGlvbnNoaXAuanJfaXNPcmRl
	cmVkJD5PcmRlcmVkPCRlbmRpZiQ+U2V0CiAgICAgICAgbXV0YWJsZS51bmlvbjwkaWYg
	UmVsYXRpb25zaGlwLmpyX2lzT3JkZXJlZCQ+T3JkZXJlZDwkZW5kaWYkPlNldChvYmpl
	Y3RzPCRpZiAhUmVsYXRpb25zaGlwLmpyX2lzT3JkZXJlZCQ+IGFzISBTZXQ8TlNPYmpl
	Y3Q+PCRlbmRpZiQ+KQogICAgICAgIHNlbGYuPCRSZWxhdGlvbnNoaXAubmFtZSQ+ID0g
	bXV0YWJsZS5jb3B5KCkgYXMhIE5TPCRpZiBSZWxhdGlvbnNoaXAuanJfaXNPcmRlcmVk
	JD5PcmRlcmVkPCRlbmRpZiQ+U2V0CiAgICB9CgogICAgZnVuYyByZW1vdmU8JFJlbGF0
	aW9uc2hpcC5uYW1lLmluaXRpYWxDYXBpdGFsU3RyaW5nJD4ob2JqZWN0czogPCRSZWxh
	dGlvbnNoaXAuaW1tdXRhYmxlQ29sbGVjdGlvbkNsYXNzTmFtZSQ+KSB7CiAgICAgICAg
	bGV0IG11dGFibGUgPSBzZWxmLjwkUmVsYXRpb25zaGlwLm5hbWUkPi5tdXRhYmxlQ29w
	eSgpIGFzISBOU011dGFibGU8JGlmIFJlbGF0aW9uc2hpcC5qcl9pc09yZGVyZWQkPk9y
	ZGVyZWQ8JGVuZGlmJD5TZXQKICAgICAgICBtdXRhYmxlLm1pbnVzPCRpZiBSZWxhdGlv
	bnNoaXAuanJfaXNPcmRlcmVkJD5PcmRlcmVkPCRlbmRpZiQ+U2V0KG9iamVjdHM8JGlm
	ICFSZWxhdGlvbnNoaXAuanJfaXNPcmRlcmVkJD4gYXMhIFNldDxOU09iamVjdD48JGVu
	ZGlmJD4pCiAgICAgICAgc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4gPSBtdXRhYmxl
	LmNvcHkoKSBhcyEgTlM8JGlmIFJlbGF0aW9uc2hpcC5qcl9pc09yZGVyZWQkPk9yZGVy
	ZWQ8JGVuZGlmJD5TZXQKICAgIH0KCiAgICBmdW5jIGFkZDwkUmVsYXRpb25zaGlwLm5h
	bWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPk9iamVjdCh2YWx1ZTogPCRSZWxhdGlvbnNo
	aXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+ISkgewog
	ICAgICAgIGxldCBtdXRhYmxlID0gc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4ubXV0
	YWJsZUNvcHkoKSBhcyEgTlNNdXRhYmxlPCRpZiBSZWxhdGlvbnNoaXAuanJfaXNPcmRl
	cmVkJD5PcmRlcmVkPCRlbmRpZiQ+U2V0CiAgICAgICAgbXV0YWJsZS5hZGRPYmplY3Qo
	dmFsdWUpCiAgICAgICAgc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4gPSBtdXRhYmxl
	LmNvcHkoKSBhcyEgTlM8JGlmIFJlbGF0aW9uc2hpcC5qcl9pc09yZGVyZWQkPk9yZGVy
	ZWQ8JGVuZGlmJD5TZXQKICAgIH0KCiAgICBmdW5jIHJlbW92ZTwkUmVsYXRpb25zaGlw
	Lm5hbWUuaW5pdGlhbENhcGl0YWxTdHJpbmckPk9iamVjdCh2YWx1ZTogPCRSZWxhdGlv
	bnNoaXAuZGVzdGluYXRpb25FbnRpdHkubWFuYWdlZE9iamVjdENsYXNzTmFtZSQ+ISkg
	ewogICAgICAgIGxldCBtdXRhYmxlID0gc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4u
	bXV0YWJsZUNvcHkoKSBhcyEgTlNNdXRhYmxlPCRpZiBSZWxhdGlvbnNoaXAuanJfaXNP
	cmRlcmVkJD5PcmRlcmVkPCRlbmRpZiQ+U2V0CiAgICAgICAgbXV0YWJsZS5yZW1vdmVP
	YmplY3QodmFsdWUpCiAgICAgICAgc2VsZi48JFJlbGF0aW9uc2hpcC5uYW1lJD4gPSBt
	dXRhYmxlLmNvcHkoKSBhcyEgTlM8JGlmIFJlbGF0aW9uc2hpcC5qcl9pc09yZGVyZWQk
	Pk9yZGVyZWQ8JGVuZGlmJD5TZXQKICAgIH0KCn0KPCRlbmRpZiQ+PCRlbmRmb3JlYWNo
	IGRvJD4K
	</data>
</dict>
</plist>
